<?php
//Main Admin Panel. Replaces all the nonsense.

//TODO - check the user is logged in and an admin, kill otherwise

//db must be connected
if ($db === FALSE) {
    kill('No Database Connection');
}

?>
<script type="text/javascript" src="scripts/admin_gui.js"></script>

<!-- Main panel, including all the kendo grids displaying the users, groups, and access control -->
<ul id="adminTables">
<?php
    if($_SESSION['isAdmin']) {
?>
<li id="userPanel"><b>Users</b>
    <div>
        <table>
        <tr><td>
            <table id="usersTable"><tbody></tbody></table>

            <a title="Edit selected user" class="k-button edit-usr" id="edit-usr"><span class="k-icon k-i-pencil"></span></a>
            <a title="Create user" class="k-button" id="new-usr"><span class="k-icon k-si-plus"></span></a>
            <a title="Delete selected user" class="k-button" id="del-usr"><span class="k-icon k-si-minus"></span></a>
            <span id="statusUser"></span>
        </td></tr>
        </table>
    </div>
</li>
<?php
    }//Closing if 
    if($_SESSION['isAdmin'] || $_SESSION['isGroupAdmin']) {
?>
<li id="groupsPanel"><b>Groups</b>
    <div>
        <table>
        <tr><td>
            <table id="grpsTable"><tbody></tbody></table>

            <a title="Edit selected NISIS group" class="k-button" id="edit-grp"><span class="k-icon k-i-pencil"></span></a>
            <a title="Create a NISIS group" id="new-grp" class="k-button"><span class="k-icon k-i-plus"></span></a>
            <a title="Delete selected NISIS group" class="k-button" id="del-grp"><span class="k-icon k-si-minus"></span></a>
            <span id="statusGroup">
        </td><td>
            <table id="grpMembersTable"><tbody></tbody></table>

            <a title="Assign users to selected NISIS group" class="k-button" id="assign-usrtogrp"><span class="k-icon k-i-plus"></span></a>
            <a title="Remove selected user from selected NISIS group" class="k-button" id="unassign-usrtogrp"><span class="k-icon k-si-minus"></span></a>
            <span id="statusAssign"></span>
        </td><!-- <td>
                <div class="k-grid k-widget" style="height: 300px;">
                    <div class="k-grid-header" style="padding-right: 8px;">
                        <div class="k-grid-header-wrap">
                            <table role="grid"><colgroup><col></colgroup>
                                <thead role="rowgroup">
                                    <tr role="row">
                                        <th role="columnheader" class="k-header">Group Layers</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="k-grid-content" style="height: 267px;">
                        <table data-role="grid" role="grid" class="k-selectable" style="height: auto;"><colgroup><col></colgroup>
                            <tbody role="rowgroup">
                                <tr role="row">
                                    <td role="gridcell">Click a group to get the layers tree</td>
                                </tr>
                                <tr>
                                    <td role="gridcell">
                                        <div id="grpLayers"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </td> --></tr>
        </table>
    </div>
</li>
<?php
    }//Closing if $isGroupAdmin
    if($_SESSION['isAdmin']) {
?>
<li id="tfrGroupsPanel"><b>TFR Groups</b>
    <div>
        <table>
        <tr><td>
            <table id="tfrGroupsTable"><tbody></tbody></table>

            <a title="Edit selected TFR group" class="k-button" id="edit-tfrgrp"><span class="k-icon k-i-pencil"></span></a>
            <a title="Create a TFR group" id="new-tfrgrp" class="k-button"><span class="k-icon k-i-plus"></span></a>
            <a title="Delete selected TFR group" class="k-button" id="del-tfrgrp"><span class="k-icon k-si-minus"></span></a>
            <span id="tfrStatusGroup"></span>
        </td><td>
            <table id="tfrGrpMembersTable"><tbody></tbody></table>

            <a title="Assign users to selected TFR group" class="k-button" id="assign-usrtotfrgrp"><span class="k-icon k-i-plus"></span></a>
            <a title="Remove selected user from selected TFR group" class="k-button" id="unassign-usrtotfrgrp"><span class="k-icon k-si-minus"></span></a>
            <span id="tfrStatusAssign"></span>
        </td></tr>
        </table>
    </div>
</li>

<li id="aclRPanel"><b>Access Control (Read)</b>
    <div>
        <table>
        <tr><td>
            <table id="tablesTableR"><tbody></tbody></table>
            <a title="Edit table label" class="k-button" id="edit-tblr"><span class="k-icon k-i-pencil"></span></a>
        </td><td>
            <table id="fieldsTableR"><tbody></tbody></table>
            <a title="Edit field label" class="k-button" id="edit-fldr"><span class="k-icon k-i-pencil"></span></a>
            <a title="Assign groups to every field's READ permission" class="k-button" id="assign-grptotblr"><span class="k-icon k-i-plus"></span></a>
            <a title="Remove groups from every field's READ permission" class="k-button" id="assign-grpuntblr"><span class="k-icon k-si-minus"></span></a>
        </td><td>
            <table id="readersTable"><tbody></tbody></table>
            <a title="Assign groups to READ permission on selected field" class="k-button" id="assign-grptofldr"><span class="k-icon k-i-plus"></span></a>
            <a title="Remove groups from READ permission on selected field" class="k-button" id="unassign-grptofldr"><span class="k-icon k-si-minus"></span></a>
        </td></tr>
        </table>
    </div>
</li>

<li id="aclWPanel"><b>Access Control (Write)</b>
    <div>
        <table>
        <tr><td>
            <table id="tablesTableW"><tbody></tbody></table>
            <a title="Edit table label" class="k-button" id="edit-tbl"><span class="k-icon k-i-pencil"></span></a>
        </td><td>
            <table id="fieldsTableW"><tbody></tbody></table>
            <a title="Edit field label" class="k-button" id="edit-fld"><span class="k-icon k-i-pencil"></span></a>
            <a title="Assign groups to every field's WRITE permission" class="k-button" id="assign-grptotblw"><span class="k-icon k-i-plus"></span></a>
            <a title="Remove groups from every field's WRITE permission" class="k-button" id="assign-grpuntblw"><span class="k-icon k-si-minus"></span></a>
        </td><td>
            <table id="editorsTable"><tbody></tbody></table>
            <a title="Assign groups to WRITE permission on selected field" class="k-button" id="assign-grptofldw"><span class="k-icon k-i-plus"></span></a>
            <a title="Remove groups from WRITE permission on selected field" class="k-button" id="unassign-grptofldw"><span class="k-icon k-si-minus"></span></a>
        </td></tr>
        </table>
    </div>
</li>
<?php
    }//Closing if $_SESSION['isAdmin']
?>

</ul>

<style>
/* this applies only to the pop-up edit forms ... tried to make the style as simple as possible to allow better styling in the future */
label {
    display: inline-block;
    text-align: right;
    width: 110px;
}
button.adModalBtn {
    margin-left: 113px; /*just shove the button over a bit...*/
}
ul ,li {
    margin: 0;
    padding: 0;
}
/*Avoid to the ul to have the little dots for each li in the forms*/
ul{
    list-style: none;
}
/*Putting a padding top in the forms for the li objects */
form ul li{
    padding-top: 10px;
}
#statusUser, #statusGroup, #tfrStatusGroup, #statusAssign, #tfrStatusAssign {
    padding-left: 10px;
}
.valid {
    color: green;
}
.invalid {
    color: red;
}
span.k-tooltip {
    margin-left: 8px;
}
/*For the buttons*/
a.k-button {
    margin-top: 3px;
}
</style>

<!-- The modal dialog windows for new items, modifications, assignment, and unassignment -->
<div id="usrMod">
    <form class="k-content" id="userForm">
    <ul>
        <li>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" class="k-textbox" required validationMessage="Required Field" data-bind="value: selected.fname, events:{keyup:checkDirtyForm}" />
        </li>
        <li>
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname" class="k-textbox" required validationMessage="Required Field" data-bind="value: selected.lname, events:{keyup:checkDirtyForm}" />
        </li>
        <li>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="k-textbox" placeholder="e.g. myname@example.net" required data-email-msg="Email format is not valid" validationMessage="Required Field" data-bind="value: selected.email, events:{keyup:checkDirtyForm}" />
        </li>
        <li>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="k-textbox" required  validationMessage="Required Field" data-bind="value: selected.usrname, enabled: enableUsername, events:{keyup:checkDirtyForm}" />
        </li>
        <li>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="k-textbox" data-bind="value: selected.password, events:{keyup:checkDirtyForm}"/>
        </li>
        <li><div class="of-a">
            <label for="apps" class="left">Apps</label>
            <select id="apps" name="apps" class="left" style="width:197px; margin-left: 4px;" multiple="multiple" required validationMessage="Required Field" data-placeholder="Click to assign apps..." data-bind="events:{change:checkDirtyForm}">
            </select>
            <span data-for="apps" class="k-invalid-msg"></span>
            </div>
        </li>
        <li>
            <button data-bind="click: saveUsr, enabled: enableSaveButton" class="k-button adModalBtn">Save</button>
        </li>
    </ul>
    </form>
</div>

<div id="grpMod">
    <form class="k-content" id="groupForm">
    <ul>
        <li>
            <label for="gname">Name</label>
            <input type="text" id="gname" name="gname" class="k-textbox" placeholder="Enter group name" required validationMessage="Required Field" data-bind="value: selected.grpname" />
        </li>
        <li>
            <span><button data-role="button" data-bind="click:saveGrp,enabled:validName" class="adModalBtn">Save</button></span>
        </li>
    </ul>
    </form>
</div>

<div id="assignmentMod">
    <form class="k-content" id="assignmentForm">
    <ul>
        <li>
            <select id="itemsassigned" multiple="multiple" data-placeholder="Click to assign...">
            </select>
        </li>
        <li>
            <span><button class="k-button" id="save-assign" data-bind="click: saveAssignment">Save Assignment</button></span>
        </li>
    </ul>
    </form>
</div>

<div id="tfrgrpMod">
    <form class="k-content" id="tfrGroupForm">
    <ul>
        <li>
            <label for="gname">Name</label>
            <input type="text" id="gname" name="gname" class="k-textbox" placeholder="Enter group name" required validationMessage="Required Field" data-bind="value: selected.grpname" />
        </li>
        <li>
            <span><button data-role="button" data-bind="click:saveGrp,enabled:validName" class="adModalBtn">Save</button></span>
        </li>
    </ul>
    </form>
</div>

<div id="tfrassignmentMod">
    <form class="k-content" id="tfrAssignmentForm">
    <ul>
        <li>
            <select id="tfrItemsAssigned" multiple="multiple" data-placeholder="Click to assign...">
            </select>
        </li>
        <li>
            <span><button class="k-button" id="save-tfr-assign" data-bind="click: saveTFRAssignment">Save Assignment</button>
            </span>
        </li>
    </ul>
    </form>
</div>

<div id="tblMod">
    <form class="k-content" id="tblForm">
    <ul>
        <li>
            <label for="tname">Name</label>
            <input type="text" id="tname" name="tname" class="k-textbox" placeholder="Enter display name" required validationMessage="Required Field" data-bind="value: selected.label" />
        </li>
        <li>
            <span><button data-role="button" data-bind="click:saveTableLabel" class="adModalBtn">Save</button></span>
        </li>
    </ul>
    </form>
</div>

<div id="fldMod">
    <form class="k-content" id="fldForm">
    <ul>
        <li>
            <label for="fname">Label</label>
            <input type="text" id="fname" name="fname" class="k-textbox" placeholder="Enter display name" required validationMessage="Required Field" data-bind="value: selected.label" />
        </li>
        <li>
            <span><button data-role="button" data-bind="click:saveFldLabel" class="adModalBtn">Save</button></span>
        </li>
    </ul>
    </form>
</div>