<div class="login_sys">
	<form id="register" name="register">
		<fieldset>
			<legend>
				Reset Password
			</legend>
			<input type="password" id="newpass" name="newpass" placeholder="******"><label for="newpass">New Password</label></input>
			<br /><br />
			<input type="password" id="cnewpass" name="cnewpass" placeholder="******"><label for="cnewpass">Confirm Password</label></input>
			<br />
			<br />
			<input type="submit" id="submit" value="Reset" />
			<input type="reset" id="reset" value="Clear Form" />
		</fieldset>
	</form>
</div>
