<h2>AUTHORIZED USERS ONLY</h2>
<br>
You are accessing a U.S. Government information system. This information system is provided for U.S. Government authorized use only. Unauthorized or improper use of this system may result in disciplinary action, as well as civil and criminal penalties.<br>
<br>
<strong>BY USING THIS SYSTEM, YOU UNDERSTAND AND CONSENT TO THE FOLLOWING</strong><br>
<br>
You have no reasonable expectation of privacy regarding any communication or data transiting or stored on this information system. At any time, and for any lawful government purpose, the government may monitor, intercept, and search and seize any communications or data transiting or stored on this information system. Any communications or data transiting or stored on this system may be disclosed or used for any lawful purpose. USDOT will monitor usage for violations of public laws, national information security policies, and agency policy. USDOT will intercept, record, audit, read, copy, and disclose by and to authorized personnel for official purposes, including administrative, civil, and/or criminal investigations. Access or use of this computer system by any person, whether authorized or unauthorized, constitutes consent and monitoring to these terms for violation of Federal laws, national security policy, and agency computer policy. If you are not an authorized user of this system or do not consent to monitoring, exit this system now.<br>
<br>
This system is not to be used for navigation, separation, or any other immediate safety-of-life operations. Users must continue to refer to USDOT systems and services certified to provide safety-of-life information as needed. Also note that, unless otherwise indicated, the platform does not provide manually-entered status information during steady-state periods.<br>
<br>
For further information about this system, please contact USDOT’s Office of Intelligence, Security, and Emergency Response.
