<strong class="warning">* WARNING  *  WARNING  *  WARNING *</strong><br>
<br>
<p>This is a Federal Aviation Administration (FAA) computer system. FAA systems, including all
related equipment, networks, and network devices (specifically including Internet access) are
provided for the processing of official U.S. Government information. Unauthorized access or
use of this computer system may subject violators to criminal, civil, and/or administrative action.<br>
<br>
All information on this computer system may be intercepted, recorded, read, copied, and disclosed by and to authorized personnel for official purposes, including criminal investigations. Access or use of this computer system by any person, whether authorized or unauthorized, constitutes consent to these terms.
</p><br>
<strong class="warning">* WARNING  *  WARNING  *  WARNING *</strong>