<h2>AUTHORIZED USERS ONLY</h2>
<div class="warning-text">
<h3>This is a Federal Aviation Administration (FAA) protected computer system.</h3>
<p>
	All FAA systems, including all related equipment, networks, and network devices (e.g., internet access) are provided for the processing of official United States Government information. Intentionally accessing a protected Government computer without authorization or in excess of authority and as a result causing damage, recklessly or otherwise, will constitute a violation of Title 18, United States Code, Section 1030, Computer Fraud and Abuse Act (CFAA), and may be referred to the Federal Bureau of Investigation for investigation and prosecution. Violations of the CFAA can lead to both civil and criminal liability, including seeking monetary relief for economic damage.
</p>
<div class="spacer"></div>
<h3>By using this system, you understand and consent to the following:</h3>
<p>
	You have no reasonable expectation of privacy regarding any communication or data transiting or stored on this information system. At any time, and for any lawful government purpose, the government may monitor, intercept, and search and seize any communications or data transiting or stored on this information system. Any communications or data transiting or stored on this system may be disclosed or used for any lawful purpose. The FAA will monitor usage for violations of public laws, national information security policies, and agency policy. The FAA will intercept, record, audit, read, copy, and disclose by and to authorized personnel for official purposes, including administrative, civil, and/or criminal investigations. Access or use of this computer system by any person, whether authorized or unauthorized, constitutes consent and monitoring to these terms for violation of Federal laws, national security policy, and agency computer policy. If you are not an authorized user of this system or do not consent to monitoring, exit this system now.
</p>
<p>
	This system is not to be used as a sole source of information for navigation, separation, or any other immediate safety-of-life operations. Users must continue to refer to NAS operational systems and services (e.g., FAA provided Notices to Airmen) certified to provide safety-of-life information as needed. Also note that, unless otherwise indicated, the platform does not provide manually-entered status information during steady-state periods.
</p>
<div class="spacer"></div>
<p>
	For further information about this system, please contact the FAA’s System Operations Security directorate.
</p>

</div>