
<div id="welcome" class="">
	<div id="w-header" class="text-center">
		<h1>NISIS</h1>
		<h3>NAS Integrated Status Insight System</h3>
	</div>
	<div id="incompatible" class="text-center">
		<span>
			<p>NISIS is compatible with the following browsers:</br>
			<a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a></br>
			<a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a></br>

			Click the hyperlink provided above and </br>
			install the browser of your choice.</br>
			Please access the application with one </br>
			of the above listed browsers.</p>
		</span>
	</div>
</div>