<form id="register" name="register">
	<input type="text" id="fname" name="fname" placeholder="First Name" required="required"></input>
	<br />
	<input type="text" id="lname" name="lname" placeholder="Last Name" required="required"></input>
	<br />
	<input type="email" id="email" name="email" placeholder="email@faa.gov" required="required"></input>
	<br />
	<input type="text" id="username" name="username" placeholder="Username" required="required"></input>
	<br />
	<input type="password" id="password" name="password" placeholder="***" required="required"></input>
	<br />
	<input type="password" id="cpassword" name="cpassword" placeholder="***" required="required"></input>
	<br />
	<input type="button" id="backToLogin" value="Login" />
	<input type="button" id="reset" value="Clear Form" />
	<input type="button" id="submit" value="Register" />
</form>

<link rel="stylesheet" type="text/css" href="styles/register.css" />
<script type="text/javascript" src="scripts/register.js"></script>
