<h2>Options:</h2>
<form method="post">
	<input type="radio" name="dbtype" id="postgres"><label for="postgres">PostGres</label></input><br />
	<input type="radio" name="dbtype" id="mysql"><label for="mysql">MySQL</label></input><br />
	<input type="radio" name="dbtype" id="sqlite"><label for="sqlite">SQLite</label></input><br />
	<input type="radio" name="dbtype" id="oracle"><label for="oracle">Oracle</label></input><br />
	<input type="radio" name="dbtype" id="mssql"><label for="mssql">MSSQL</label></input><br />
	<input type="submit" name="go" value="Go!" />
</form>
