*{
    box-sizing: border-box;
}

body.prototype{
    overflow: -moz-scrollbar-none;
}

body.prototype{
    /*remove before adding to develop*/
    background-image: url(../images/background.png);
    font-size: 62.5%;
    font-family: 'Raleway',sans-serif;
}

/*TODO: animate*/
.nisis_profile {
    position: relative;
    overflow: hidden;
    width: 940px;
    height: auto;
    background: white;
}

/*TODO: animate*/
.nisis_profile.datatable {
    width: 1100px;
}

.transition025s{
    transition: width 0.25s ease-out;
}


[id*="form-"],
[id*="datatable-"]{
    display: none;
    overflow: scroll;
    padding-top: 60px;
}

[id*="form-"] > h3,
[id*="datatable-"] > h3{
    margin-bottom: .8em;
}

[id*="form-"] > h3 > div,
[id*="datatable-"] > h3 > div
{
    display: inline-block;
    position: relative;
    top: -1em;
    font-weight: bold;
    font-size: 1.6em;
}



main > header:first-child h1,
h1 :not(i){
    /*TODO: uncomment w/ drag re-add*/
    cursor: move;
}

[scrollable]{
    overflow-y: scroll;
}
[scrollable]::-webkit-scrollbar{
    display: none;
}
.grid.grid-pad.showProfile[scrollable]::-webkit-scrollbar{
    display: block !important;
    width: 1em;
    height: auto;
    background-color: transparent;
}
.grid.grid-pad.showProfile[scrollable]::-webkit-scrollbar-thumb{
    height 1em;
}

.status-report{
    display: inline-flex;
    padding: 5px 10px;
    font-size: 1.4em;
}

/* Flexerize the section*/
.flex{
    display: flex;
}

.f-item{
    align-self: baseline;
}

.f-item-grow-1{
    flex-grow: 1;
}

.f-item-grow-0{
    flex-grow: 0;
}


.toggle-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 4.2em;
    /*FIXME*/
    /*height: calc(100% - 74px);*/
    height: 100%;
}

.toggle-container li{
    padding-top: 1.3em;
    padding-left: 1.3em;
    width: 4.2em;
    height: 4.2em;
}


h1 {
    color: white;
    font-size: 12px;
    padding: 10px;
}

header {
    background-color: #F5F5F5;
    color: #114b5f;
    width: 100%;
}

.close{
    margin-right: 7px;
}

.nisis_profile .resize,
.nisis_profile .close{
    padding: 10px 5px;
    font-size: 1.3em;
}

/*
FB
replaced by menu-spacer below
nav > span{
    margin-left: 1em;
}*/

/*TODO - class for abs pos: 0,0 */

/* floating labels */
.nisis_profile{
    font-family: sans-serif;
}

/*ANS*/
.ANS.status-ANS_STATUS_1,
.ANS.status-ANS_STATUS_1_icon,
.ANS.status-ANS_STATUS_2,
.ANS.status-ANS_STATUS_3,
.ANS .status-ATC_Alert,
.ANS.status-ATC_Alert,
.ANS .status-ATC_Limited,
.ANS.status-ATC_Limited,
.ANS.status-Constrained_Capacity,
.ANS.status-Critically_Low_Staffing,
.ANS.status-Widespread_Significant_Impact,
.ANS.status-Some_Accounted_For,
.ANS.status-Somewhat_Significant_Impact,
.ANS.status-SECON-Yellow,
.ANS.status-Degraded,
.ANS.status-Open_with_limitations,
.ANS.status-Open_With_Limitations,
.ANS.status-RL-Bravo,
.ANS.status-RL-Charlie,
.ANS .status-Reduced_Facility_Service_Interruption,
.ANS.status-Reduced_Facility_Service_Interruption,
.ANS .status-Reduced_System_Equipment,
.ANS.status-Reduced_System_Equipment,
.ANS.status-Few_Accounted_For,
.ANS.status-Limited,
.ANS.status-Limited_Services,
.ANS.status-Limited_Staffing,
.ANS.status-Limited_Supplies,
.ANS .status-Limited_Degraded_Operations,
.ANS.status-Limited_Degraded_Operations,
.ANS .status-Line_Only_Interruption,
.ANS.status-Line_Only_Interruption,
.ANS.status-Main_Power_Disrupted___On_Egs,
.ANS.status-Main_Power_Disrupted___On_EGs,
.ANS.status-Main_Power_Degraded,
.ANS.status-Main_Power_Disrupted,
.ANS.status-Main_Power_Disrupted_On_EGs,
.ANS.status-yellow,
.ANS.status-Disrupted_Power_Using_EG{
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='yellow' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;

}
.ANS.status-Ops_Staffing_Status_0,
.ANS.status-Sat_Phone_Status_0,
.ANS.status-ANS_Power_Status_1,
.ANS.status-Screening_Suspended,
.ANS.status-Shutdown,
.ANS.status-Disrupted_Power_No_EG,
.ANS.status-red,
.ANS.status-ANS_STATUS_4,
.ANS.status-ANS_STATUS_4_icon,
.ANS .status-ATC_0,
.ANS.status-ATC_0,
.ANS .status-Closed_for_all_operations,
.ANS.status-Closed_for_all_operations,
.ANS .status-Closed_for_normal_operations,
.ANS.status-Closed_for_normal_operations,
.ANS .status-Closed,
.ANS.status-Closed,
.ANS .status-Full_Interruption,
.ANS.status-Full_Interruption,
.ANS .status-In_use,
.ANS.status-In_use,
.ANS .status-In_Use,
.ANS.status-In_Use,
.ANS .status-No,
.ANS.status-No,
.ANS .status-NO,
.ANS.status-NO,
.ANS.status-No_Services,
.ANS.status-No_Staffing_Available,
.ANS.status-No_Supplies,
.ANS.status-None,
.ANS.status-None_Accounted_For,
.ANS.status-OTS_due_to_PM,
.ANS.status-OTS_due_to_Preventive {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='red' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;

}
.ANS .status-Unknown,
.ANS.status-Unknown,
.ANS .status-Other,
.ANS.status-Other,
.ANS.status-N_A {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='gray' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.ANS.status-Normal_Main_Power,
.ANS.status-Main_Power,
.ANS.status-Fully_Staffed,
.ANS.status-Full,
.ANS .status-Standby,
.ANS .status-Standby,
.ANS.status-Standby,
.ANS.status-Working,
.ANS .status-Yes,
.ANS.status-Yes,
.ANS.status-YES,
.ANS.status-All_Accounted_For,
.ANS.status-Present,
.ANS.status-Resource_Status,
.ANS.status-green,
.ANS.status-OSF_STATUS_0,
.ANS.status-ANS_STATUS_0_icon,
.ANS.status-No_Known_Significant_Impact,
.ANS.status-Normal,
.ANS .status-Normal_Operation,
.ANS.status-Normal_Operation,
.ANS.status-Operational,
.ANS .status-Normal_Operations,
.ANS.status-Normal_Operations,
.ANS.status-Normal_Services,
.ANS.status-Normal_Supplies,
.ANS.status-Normal_Throughput,
.ANS.status-Open_with_normal_operations,
.ANS.status-Open,
.ANS.status-SECON-Green,
.ANS.status-SECON_5__Low_Condition,
.ANS.status-RL-Alpha{
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='green' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.ANS.status-No_Power,
.ANS.status-SECON-Red,
.ANS.status-SECON_1__Severe_Condition,
.ANS.status-Unavailable,
.ANS.status-RL-Delta {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='red' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.ANS.status-SECON-Blue {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='blue' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.ANS.status-SECON_2__High_Condition,
.ANS.status-SECON_3__Elevated_Condition,
.ANS.status-SECON_4__Guarded_Condition {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='yellow' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.ANS.status-SECON-Orange {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='orange' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}


/*APT*/
.APT.status-ANS_STATUS_1,
.APT.status-ANS_STATUS_1_icon,
.APT.status-ANS_STATUS_2,
.APT.status-ANS_STATUS_3,
.APT .status-ATC_Alert,
.APT.status-ATC_Alert,
.APT .status-ATC_Limited,
.APT.status-ATC_Limited,
.APT .status-Constrained_Capacity,
.APT.status-Constrained_Capacity,
.APT.status-Critically_Low_Staffing,
.APT.status-Widespread_Significant_Impact,
.APT.status-Some_Accounted_For,
.APT.status-Somewhat_Significant_Impact,
.APT.status-SECON-Yellow,
.APT .status-Degraded,
.APT.status-Degraded,
.APT .status-Open_with_limitations,
.APT.status-Open_with_limitations,
.APT .status-Open_With_Limitations,
.APT.status-Open_With_Limitations,
.APT.status-RL-Bravo,
.APT.status-RL-Charlie,
.APT.status-Reduced_Facility_Service_Interruption,
.APT.status-Reduced_System_Equipment,
.APT.status-Few_Accounted_For,
.APT.status-Limited,
.APT .status-Limited_Services,
.APT.status-Limited_Services,
.APT.status-Limited_Staffing,
.APT .status-Limited_Supplies,
.APT.status-Limited_Supplies,
.APT .status-Limited_Degraded_Operations,
.APT.status-Limited_Degraded_Operations,
.APT.status-Line_Only_Interruption,
.APT .status-Main_Power_Disrupted___On_Egs,
.APT.status-Main_Power_Disrupted___On_Egs,
.APT.status-Main_Power_Disrupted___On_EGs,
.APT .status-Main_Power_Degraded,
.APT.status-Main_Power_Degraded,
.APT.status-Main_Power_Disrupted,
.APT.status-Main_Power_Disrupted_On_EGs,
.APT.status-yellow,
.APT.status-Disrupted_Power_Using_EG  {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='yellow' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;

}
.APT.status-Ops_Staffing_Status_0,
.APT.status-Sat_Phone_Status_0,
.APT.status-OSF_Power_Status_1,
.APT .status-Screening_Suspended,
.APT.status-Screening_Suspended,
.APT.status-Shutdown,
.APT.status-Disrupted_Power_No_EG,
.APT.status-red,
.APT.status-ANS_STATUS_4,
.APT.status-ANS_STATUS_4_icon,
.APT .status-ATC_0,
.APT.status-ATC_0,
.APT.status-ATC_Zero,
.APT .status-ATC_Zero,
.APT .status-Closed_for_all_operations,
.APT.status-Closed_for_all_operations,
.APT .status-Closed_for_normal_operations,
.APT.status-Closed_for_normal_operations,
.APT .status-Closed,
.APT.status-Closed,
.APT .status-Full_Interruption,
.APT.status-Full_Interruption,
.APT.status-In_use,
.APT.status-In_Use,
.APT.status-No,
.APT.status-NO,
.APT .status-No_Services,
.APT.status-No_Services,
.APT.status-No_Staffing_Available,
.APT .status-No_Supplies,
.APT.status-No_Supplies,
.APT.status-None,
.APT.status-None_Accounted_For,
.APT.status-OTS_due_to_PM,
.APT.status-OTS_due_to_Preventive {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='red' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.APT .status-Unknown,
.APT.status-Unknown,
.APT .status-Other,
.APT.status-Other,
.APT.status-N_A {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='gray' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.APT .status-Normal_Main_Power,
.APT.status-Normal_Main_Power,
.APT.status-Main_Power,
.APT.status-Fully_Staffed,
.APT.status-Full,
.APT.status-Standby,
.APT.status-Working,
.APT.status-Yes,
.APT.status-YES,
.APT.status-All_Accounted_For,
.APT.status-Present,
.APT.status-Resource_Status,
.APT.status-green,
.APT.status-OSF_STATUS_0,
.APT.status-ANS_STATUS_0_icon,
.APT.status-No_Known_Significant_Impact,
.APT.status-Normal,
.APT.status-Normal_Operation,
.APT .status-Operational,
.APT.status-Operational,
.APT .status-Normal_Operations,
.APT.status-Normal_Operations,
.APT .status-Normal_Services,
.APT.status-Normal_Services,
.APT .status-Normal_Supplies,
.APT.status-Normal_Supplies,
.APT .status-Normal_Throughput,
.APT.status-Normal_Throughput,
.APT .status-Open_with_normal_operations,
.APT.status-Open_with_normal_operations,
.APT .status-Open,
.APT.status-Open,
.APT.status-SECON-Green,
.APT.status-SECON_5__Low_Condition,
.APT.status-RL-Alpha {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='green' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.APT .status-No_Power,
.APT.status-No_Power,
.APT.status-SECON-Red,
.APT.status-SECON_1__Severe_Condition,
.APT .status-Unavailable,
.APT.status-Unavailable,
.APT.status-RL-Delta {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='red' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.APT.status-SECON-Blue {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='blue' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.APT.status-SECON_2__High_Condition,
.APT.status-SECON_3__Elevated_Condition,
.APT.status-SECON_4__Guarded_Condition {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='yellow' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.APT.status-SECON-Orange {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='orange' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}

/*hide airport reminders and history buttons*/

.APT [dbcol*='tower_ops_status'] ~ .qsr-mini-toolbar,
.APT [dbcol*='appr_ctrl_ops_status'] ~ .qsr-mini-toolbar,
.APT [dbcol*='enrte_atc_ops_status'] ~ .qsr-mini-toolbar{
    display: none;
}


/*ATM*/
.ATM.status-ANS_STATUS_1,
.ATM.status-ANS_STATUS_1_icon,
.ATM.status-ANS_STATUS_2,
.ATM.status-ANS_STATUS_3,
.ATM .status-ATC_Alert,
.ATM.status-ATC_Alert,
.ATM .status-ATC_Limited,
.ATM.status-ATC_Limited,
.ATM.status-Constrained_Capacity,
.ATM .status-Critically_Low_Staffing,
.ATM.status-Critically_Low_Staffing,
.ATM.status-Widespread_Significant_Impact,
.ATM .status-Some_Accounted_For,
.ATM.status-Some_Accounted_For,
.ATM.status-Somewhat_Significant_Impact,
.ATM.status-SECON-Yellow,
.ATM.status-Degraded,
.ATM.status-Open_with_limitations,
.ATM.status-Open_With_Limitations,
.ATM .status-RL-Bravo,
.ATM.status-RL-Bravo,
.ATM .status-RL-Charlie,
.ATM.status-RL-Charlie,
.ATM.status-Reduced_Facility_Service_Interruption,
.ATM.status-Reduced_System_Equipment,
.ATM .status-Few_Accounted_For,
.ATM.status-Few_Accounted_For,
.ATM .status-Limited,
.ATM.status-Limited,
.ATM.status-Limited_Services,
.ATM .status-Limited_Staffing,
.ATM.status-Limited_Staffing,
.ATM.status-Limited_Supplies,
.ATM.status-Limited_Degraded_Operations,
.ATM.status-Line_Only_Interruption,
.ATM .status-Main_Power_Disrupted___On_Egs,
.ATM.status-Main_Power_Disrupted___On_Egs,
.ATM .status-Main_Power_Disrupted___On_EGs,
.ATM.status-Main_Power_Disrupted___On_EGs,
.ATM .status-Main_Power_Degraded,
.ATM.status-Main_Power_Degraded,
.ATM.status-Main_Power_Disrupted,
.ATM .status-Main_Power_Disrupted_On_EGs,
.ATM.status-Main_Power_Disrupted_On_EGs,
.ATM.status-yellow,
.ATM.status-Disrupted_Power_Using_EG  {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='yellow' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;

}
.ATM.status-Ops_Staffing_Status_0,
.ATM.status-Sat_Phone_Status_0,
.ATM.status-OSF_Power_Status_1,
.ATM.status-Screening_Suspended,
.ATM.status-Shutdown,
.ATM.status-Disrupted_Power_No_EG,
.ATM.status-red,
.ATM.status-ANS_STATUS_4,
.ATM.status-ANS_STATUS_4_icon,
.ATM .status-ATC_0,
.ATM.status-ATC_0,
.ATM .status-ATC_Zero,
.ATM.status-ATC_Zero,
.ATM.status-Closed_for_all_operations,
.ATM.status-Closed_for_normal_operations,
.ATM .status-Closed,
.ATM.status-Closed,
.ATM.status-Full_Interruption,
.ATM.status-In_use,
.ATM.status-In_Use,
.ATM.status-No,
.ATM.status-NO,
.ATM.status-No_Services,
.ATM .status-No_Staffing_Available,
.ATM.status-No_Staffing_Available,
.ATM.status-No_Supplies,
.ATM .status-None,
.ATM.status-None,
.ATM .status-None_Accounted_For,
.ATM.status-None_Accounted_For,
.ATM.status-OTS_due_to_PM,
.ATM.status-OTS_due_to_Preventive {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='red' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;

}
.ATM .status-Unknown,
.ATM.status-Unknown,
.ATM .status-Other,
.ATM.status-Other,
.ATM.status-N_A,
.ATM .status-N_A {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='gray' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.ATM .status-Normal_Main_Power,
.ATM.status-Normal_Main_Power,
.ATM.status-Main_Power,
.ATM .status-Fully_Staffed,
.ATM.status-Fully_Staffed,
.ATM .status-Full,
.ATM.status-Full,
.ATM.status-Standby,
.ATM.status-Working,
.ATM.status-Yes,
.ATM.status-YES,
.ATM .status-All_Accounted_For,
.ATM.status-All_Accounted_For,
.ATM.status-Present,
.ATM.status-Resource_Status,
.ATM.status-green,
.ATM.status-OSF_STATUS_0,
.ATM.status-ANS_STATUS_0_icon,
.ATM.status-No_Known_Significant_Impact,
.ATM.status-Normal,
.ATM.status-Normal_Operation,
.ATM.status-Operational,
.ATM .status-Normal_Operations,
.ATM.status-Normal_Operations,
.ATM.status-Normal_Services,
.ATM.status-Normal_Supplies,
.ATM.status-Normal_Throughput,
.ATM.status-Open_with_normal_operations,
.ATM.status-Open,
.ATM.status-SECON-Green,
.ATM.status-SECON_5__Low_Condition,
.ATM .status-SECON_5__Low_Condition,
.ATM .status-RL-Alpha,
.ATM.status-RL-Alpha {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='green' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.ATM .status-No_Power,
.ATM.status-No_Power,
.ATM.status-SECON-Red,
.ATM.status-SECON_1__Severe_Condition,
.ATM .status-SECON_1__Severe_Condition,
.ATM.status-Unavailable,
.ATM .status-RL-Delta,
.ATM.status-RL-Delta {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='red' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.ATM.status-SECON-Blue {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='blue' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.ATM.status-SECON_2__High_Condition,
.ATM .status-SECON_2__High_Condition,
.ATM.status-SECON_3__Elevated_Condition,
.ATM .status-SECON_3__Elevated_Condition,
.ATM.status-SECON_4__Guarded_Condition,
.ATM .status-SECON_4__Guarded_Condition {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='yellow' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.ATM.status-SECON-Orange {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='orange' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}

/*OSF*/
.OSF.status-ANS_STATUS_1,
.OSF.status-ANS_STATUS_1_icon,
.OSF.status-ANS_STATUS_2,
.OSF.status-ANS_STATUS_3,
.OSF.status-ATC_Alert,
.OSF.status-ATC_Limited,
.OSF.status-Constrained_Capacity,
.OSF.status-Critically_Low_Staffing,
.OSF.status-Widespread_Significant_Impact,
.OSF .status-Some_Accounted_For,
.OSF.status-Some_Accounted_For,
.OSF.status-Somewhat_Significant_Impact,
.OSF.status-SECON-Yellow,
.OSF.status-Degraded,
.OSF .status-Open_with_limitations,
.OSF.status-Open_with_limitations,
.OSF.status-Open_With_Limitations,
.OSF .status-RL-Bravo,
.OSF.status-RL-Bravo,
.OSF .status-RL-Charlie,
.OSF.status-RL-Charlie,
.OSF.status-Reduced_Facility_Service_Interruption,
.OSF.status-Reduced_System_Equipment,
.OSF .status-Few_Accounted_For,
.OSF.status-Few_Accounted_For,
.OSF .status-Limited,
.OSF.status-Limited,
.OSF.status-Limited_Services,
.OSF.status-Limited_Staffing,
.OSF.status-Limited_Supplies,
.OSF .status-Limited_Degraded_Operations,
.OSF.status-Limited_Degraded_Operations,
.OSF.status-Line_Only_Interruption,
.OSF.status-Main_Power_Disrupted___On_Egs,
.OSF .status-Main_Power_Disrupted___On_EGs,
.OSF.status-Main_Power_Disrupted___On_EGs,
.OSF .status-Main_Power_Degraded,
.OSF.status-Main_Power_Degraded,
.OSF.status-Main_Power_Disrupted,
.OSF .status-Main_Power_Disrupted_On_EGs,
.OSF.status-Main_Power_Disrupted_On_EGs,
.OSF.status-yellow,
.OSF.status-Disrupted_Power_Using_EG  {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='yellow' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;

}
.OSF.status-Ops_Staffing_Status_0,
.OSF.status-Sat_Phone_Status_0,
.OSF.status-OSF_Power_Status_1,
.OSF.status-Screening_Suspended,
.OSF.status-Shutdown,
.OSF.status-Disrupted_Power_No_EG,
.OSF.status-red,
.OSF.status-ANS_STATUS_4,
.OSF.status-ANS_STATUS_4_icon,
.OSF.status-ATC_0,
.OSF .status-Closed_for_all_operations,
.OSF.status-Closed_for_all_operations,
.OSF .status-Closed_for_normal_operations,
.OSF.status-Closed_for_normal_operations,
.OSF .status-Closed,
.OSF.status-Closed,
.OSF.status-Full_Interruption,
.OSF.status-In_use,
.OSF.status-In_Use,
.OSF.status-No,
.OSF.status-NO,
.OSF.status-No_Services,
.OSF.status-No_Staffing_Available,
.OSF.status-No_Supplies,
.OSF .status-None,
.OSF.status-None,
.OSF .status-None_Accounted_For,
.OSF.status-None_Accounted_For,
.OSF.status-OTS_due_to_PM,
.OSF.status-OTS_due_to_Preventive {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='red' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.OSF .status-Unknown,
.OSF.status-Unknown,
.OSF .status-Other,
.OSF.status-Other,
.OSF .status-N_A,
.OSF.status-N_A {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='gray' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.OSF .status-Normal_Main_Power,
.OSF.status-Normal_Main_Power,
.OSF.status-Main_Power,
.OSF.status-Fully_Staffed,
.OSF .status-Full,
.OSF.status-Full,
.OSF.status-Standby,
.OSF.status-Working,
.OSF.status-Yes,
.OSF.status-YES,
.OSF .status-All_Accounted_For,
.OSF.status-All_Accounted_For,
.OSF.status-Present,
.OSF.status-Resource_Status,
.OSF.status-green,
.OSF.status-OSF_STATUS_0,
.OSF.status-ANS_STATUS_0_icon,
.OSF.status-No_Known_Significant_Impact,
.OSF.status-Normal,
.OSF.status-Normal_Operation,
.OSF.status-Operational,
.OSF .status-Normal_Operations,
.OSF.status-Normal_Operations,
.OSF.status-Normal_Services,
.OSF.status-Normal_Supplies,
.OSF.status-Normal_Throughput,
.OSF .status-Open_with_normal_operations,
.OSF.status-Open_with_normal_operations,
.OSF.status-Open,
.OSF.status-SECON-Green,
.OSF.status-SECON_5__Low_Condition,
.OSF .status-SECON_5__Low_Condition,
.OSF .status-RL-Alpha,
.OSF.status-RL-Alpha {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='green' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.OSF .status-No_Power,
.OSF.status-No_Power,
.OSF.status-SECON-Red,
.OSF.status-SECON_1__Severe_Condition,
.OSF .status-SECON_1__Severe_Condition,
.OSF.status-Unavailable,
.OSF .status-RL-Delta,
.OSF.status-RL-Delta {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='red' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.OSF.status-SECON-Blue {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='blue' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.OSF.status-SECON_2__High_Condition,
.OSF .status-SECON_2__High_Condition,
.OSF.status-SECON_3__Elevated_Condition,
.OSF .status-SECON_3__Elevated_Condition,
.OSF.status-SECON_4__Guarded_Condition,
.OSF .status-SECON_4__Guarded_Condition {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='yellow' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.OSF.status-SECON-Orange {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='orange' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}




/*TOF*/
.TOF.status-ANS_STATUS_1,
.TOF.status-ANS_STATUS_1_icon,
.TOF.status-ANS_STATUS_2,
.TOF.status-ANS_STATUS_3,
.TOF.status-ATC_Alert,
.TOF.status-ATC_Limited,
.TOF.status-Constrained_Capacity,
.TOF.status-Critically_Low_Staffing,
.TOF.status-Widespread_Significant_Impact,
.TOF .status-Some_Accounted_For,
.TOF.status-Some_Accounted_For,
.TOF.status-Somewhat_Significant_Impact,
.TOF.status-SECON-Yellow,
.TOF.status-Degraded,
.TOF .status-Open_with_limitations,
.TOF.status-Open_with_limitations,
.TOF .status-Open_with_limitations,
.TOF.status-Open_With_Limitations,
.TOF .status-RL-Bravo,
.TOF.status-RL-Bravo,
.TOF .status-RL-Charlie,
.TOF.status-RL-Charlie,
.TOF.status-Reduced_Facility_Service_Interruption,
.TOF.status-Reduced_System_Equipment,
.TOF .status-Few_Accounted_For,
.TOF.status-Few_Accounted_For,
.TOF .status-Limited,
.TOF.status-Limited,
.TOF.status-Limited_Services,
.TOF.status-Limited_Staffing,
.TOF.status-Limited_Supplies,
.TOF .status-Limited_Degraded_Operations,
.TOF.status-Limited_Degraded_Operations,
.TOF.status-Line_Only_Interruption,
.TOF.status-Main_Power_Disrupted___On_Egs,
.TOF.status-Main_Power_Disrupted___On_EGs,
.TOF.status-Main_Power_Degraded,
.TOF.status-Main_Power_Disrupted,
.TOF.status-Main_Power_Disrupted_On_EGs,
.TOF.status-yellow,
.TOF.status-Disrupted_Power_Using_EG  {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='yellow' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;

}
.TOF.status-Ops_Staffing_Status_0,
.TOF.status-Sat_Phone_Status_0,
.TOF.status-OSF_Power_Status_1,
.TOF.status-Screening_Suspended,
.TOF.status-Shutdown,
.TOF.status-Disrupted_Power_No_EG,
.TOF.status-red,
.TOF.status-ANS_STATUS_4,
.TOF.status-ANS_STATUS_4_icon,
.TOF.status-ATC_0,
.TOF .status-Closed_for_all_operations,
.TOF.status-Closed_for_all_operations,
.TOF .status-Closed_for_normal_operations,
.TOF.status-Closed_for_normal_operations,
.TOF .status-Closed,
.TOF.status-Closed,
.TOF.status-Full_Interruption,
.TOF .status-In_use,
.TOF.status-In_use,
.TOF.status-In_Use,
.TOF.status-No,
.TOF.status-NO,
.TOF.status-No_Services,
.TOF.status-No_Staffing_Available,
.TOF.status-No_Supplies,
.TOF .status-None,
.TOF.status-None,
.TOF .status-None_Accounted_For,
.TOF.status-None_Accounted_For,
.TOF.status-OTS_due_to_PM,
.TOF.status-OTS_due_to_Preventive {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='red' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.TOF .status-Unknown,
.TOF.status-Unknown,
.TOF .status-Other,
.TOF.status-Other,
.TOF .status-N_A,
.TOF.status-N_A {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='gray' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.TOF.status-Normal_Main_Power,
.TOF.status-Main_Power,
.TOF.status-Fully_Staffed,
.TOF .status-Full,
.TOF.status-Full,
.TOF .status-Standby,
.TOF .status-Standby,
.TOF.status-Standby,
.TOF.status-Working,
.TOF.status-Yes,
.TOF.status-YES,
.TOF .status-All_Accounted_For,
.TOF.status-All_Accounted_For,
.TOF.status-Present,
.TOF.status-Resource_Status,
.TOF.status-green,
.TOF.status-OSF_STATUS_0,
.TOF.status-ANS_STATUS_0_icon,
.TOF.status-No_Known_Significant_Impact,
.TOF.status-Normal,
.TOF.status-Normal_Operation,
.TOF.status-Operational,
.TOF .status-Normal_Operations,
.TOF.status-Normal_Operations,
.TOF.status-Normal_Services,
.TOF.status-Normal_Supplies,
.TOF.status-Normal_Throughput,
.TOF .status-Open_with_normal_operations,
.TOF.status-Open_with_normal_operations,
.TOF.status-Open,
.TOF.status-SECON-Green,
.TOF.status-SECON_5__Low_Condition,
.TOF .status-SECON_5__Low_Condition,
.TOF .status-RL-Alpha,
.TOF.status-RL-Alpha {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='green' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.TOF.status-No_Power,
.TOF.status-SECON-Red,
.TOF.status-SECON_1__Severe_Condition,
.TOF .status-SECON_1__Severe_Condition,
.TOF.status-Unavailable,
.TOF .status-RL-Delta,
.TOF.status-RL-Delta {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='red' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.TOF.status-SECON_2__High_Condition,
.TOF .status-SECON_2__High_Condition,
.TOF.status-SECON_3__Elevated_Condition,
.TOF .status-SECON_3__Elevated_Condition,
.TOF.status-SECON_4__Guarded_Condition,
.TOF .status-SECON_4__Guarded_Condition {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='yellow' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}
.TOF.status-SECON-Orange {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='orange' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}


.history-status-display-svg.status-Open,
.history-status-display-svg.status-Operational{
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='green' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}

.history-status-display-svg.status-Not_Applicable,
.history-status-display-svg.status-Open_with_limitations,
.history-status-display-svg.status-Limited_Supplies{
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='yellow' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}

.history-status-display-svg.status-Closed{
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='red' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}

.history-status-display-svg.status-Unknown{
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle fill='gray' cx='15' cy='17' r='7' /></svg>")  no-repeat;
    padding-left: 25px;
    width: 30px;
    height: 30px;
}




#State-list,
#Attendance-list,
#Reliever-list,
#Reliever_Status-list,
#Basic_Use-list,
#Hub_Type-list,
#Cargo_Service_Airport-list,
#GA_Airport-list,
#POE_Status-list,
#Airport_Tower_Present-list,
#Airport_Tower_Type-list,
#ARFF_Services_Status-list,
#Fuel_Availability_Status-list,
#ANS_Infrastructure_Overall_Status-list,
#Airport_Overall_Status-list,
#Airport_Power_Status-list,
#Aviation_Operator_Ops_Status-list,
#Airport_TSA_Ops_Status-list,
#Airport_CBP_Ops_Status-list,
#CDC_Q_Status-list,
#CDC_Q-Station_Present-list,
#ARFF_Services_Status-list,
#Fuel_Availability_Status-list,
#Airport_Overall_Status-list,
#Airport_Power_Status-list,
#Aviation_Operator_Ops_Status-list,
#Core_30_Membership-list,
#OEP_35_Membership-list,
#OPSNET_45_Membership-list,
#Airport_Tower_Present-list,
#Airport_Tower_Type-list,
#Airport_Tower_Status-list,
#Approach_Control_Status-list,
#Flight_Services_Status-list,
#ANS_Infrastructure_Overall_Status-list,
#POE_Status-list,
/*#CDC_Q-Station_Present-list,*/
#Airport_TSA_Ops_Status-list,
#Airport_CBP_Ops_Status-list{
    border-radius: 0 !important;
    border-color: none !important;
    box-shadow: none !important;
    background-image: none !important;
}

#State_listbox > li > span[class*='status-'],
#Military_Service_listbox > li > span[class*='status-'],
#Attendance_listbox > li > span[class*='status-'],
#Reliever_listbox > li > span[class*='status-'],
/*#Reliever_Status_listbox > li > span[class*='status-'],*/
#Basic_Use_listbox > li > span[class*='status-'],
#Hub_Type_listbox > li > span[class*='status-'],
/*#Cargo_Service_Airport_listbox > li > span[class*='status-'],*/
#GA_Airport_listbox > li > span[class*='status-'],
#POE_Status_listbox > li > span[class*='status-'],
#Airport_Tower_Present_listbox > li > span[class*='status-'],
#Airport_Tower_Type_listbox > li > span[class*='status-'],
/*#ARFF_Services_Status_listbox > li > span[class*='status-'],*/
/*#Fuel_Availability_Status_listbox > li > span[class*='status-'],*/
/*#ANS_Infrastructure_Overall_Status_listbox > li > span[class*='status-'],*/
/*#Airport_Overall_Status_listbox > li > span[class*='status-'],*/
/*#Airport_Power_Status_listbox > li > span[class*='status-'],*/
/*#Aviation_Operator_Ops_Status_listbox > li > span[class*='status-'],*/
/*#Airport_TSA_Ops_Status_listbox > li > span[class*='status-'],*/
/*#Airport_CBP_Ops_Status_listbox > li > span[class*='status-'],*/
/*#CDC_Q_Status_listbox > li > span[class*='status-'],*/
/*#CDC_Q-Station_Present_listbox > li > span[class*='status-'],*/
/*#ARFF_Services_Status_listbox > li > span[class*='status-'],*/
/*#Fuel_Availability_Status_listbox > li > span[class*='status-'],*/
/*#Airport_Overall_Status_listbox > li > span[class*='status-'],*/
/*#Airport_Power_Status_listbox > li > span[class*='status-'],*/
/*#Aviation_Operator_Ops_Status_listbox > li > span[class*='status-'],*/
/*#Core_30_Membership_listbox > li > span[class*='status-'],
#OEP_35_Membership_listbox > li > span[class*='status-'],
#OPSNET_45_Membership_listbox > li > span[class*='status-'],*/
#Airport_Tower_Present_listbox > li > span[class*='status-'],
#Airport_Tower_Type_listbox > li > span[class*='status-'],
/*#Airport_Tower_Status_listbox > li > span[class*='status-'],*/
/*#Approach_Control_Status_listbox > li > span[class*='status-'],*/
/*#Flight_Services_Status_listbox > li > span[class*='status-'],*/
/*#ANS_Infrastructure_Overall_Status_listbox > li > span[class*='status-'],*/
/*#POE_Status_listbox > li > span[class*='status-'],*/
/*#Airport_TSA_Ops_Status_listbox > li > span[class*='status-'],*/
/*#Airport_CBP_Ops_Status_listbox  > li > span[class*='status-']*/
{
    border-radius: 0 !important;
    border-color: none !important;
    box-shadow: none !important;
    width: 0;
    height: 0;
    padding: 0;
    background-color: #FFF !important;
    background-image: none !important;
}

#State_listbox li.k-state-hover,
#Reliever_listbox li.k-state-hover,
#Reliever_Status_listbox li.k-state-hover,
#Basic_Use_listbox li.k-state-hover,
#Hub_Type_listbox li.k-state-hover,
#Cargo_Service_Airport_listbox li.k-state-hover,
#GA_Airport_listbox li.k-state-hover,
#POE_Status_listbox li.k-state-hover,
#Airport_Tower_Present_listbox li.k-state-hover,
#Airport_Tower_Type_listbox li.k-state-hover,
#ARFF_Services_Status_listbox li.k-state-hover,
#Fuel_Availability_Status_listbox li.k-state-hover,
#ANS_Infrastructure_Overall_Status_listbox li.k-state-hover,
#Airport_Overall_Status_listbox li.k-state-hover,
#Airport_Power_Status_listbox li.k-state-hover,
#Aviation_Operator_Ops_Status_listbox li.k-state-hover,
#Airport_TSA_Ops_Status_listbox li.k-state-hover,
#Airport_CBP_Ops_Status_listbox li.k-state-hover,
#CDC_Q_Status_listbox li.k-state-hover,
#CDC_Q-Station_Present_listbox li.k-state-hover,
#ARFF_Services_Status_listbox li.k-state-hover,
#Fuel_Availability_Status_listbox li.k-state-hover,
#Airport_Overall_Status_listbox li.k-state-hover,
#Airport_Power_Status_listbox li.k-state-hover,
#Aviation_Operator_Ops_Status_listbox li.k-state-hover,
#Core_30_Membership_listbox li.k-state-hover,
#OEP_35_Membership_listbox li.k-state-hover,
#OPSNET_45_Membership_listbox li.k-state-hover,
#Airport_Tower_Present_listbox li.k-state-hover,
#Airport_Tower_Type_listbox li.k-state-hover,
#Airport_Tower_Status_listbox li.k-state-hover,
#Approach_Control_Status_listbox li.k-state-hover,
#Flight_Services_Status_listbox li.k-state-hover,
#ANS_Infrastructure_Overall_Status_listbox li.k-state-hover,
#POE_Status_listbox li.k-state-hover,
#CDC_Q-Station_Present_listbox li.k-state-hover,
#Airport_TSA_Ops_Status_listbox li.k-state-hover,
#Airport_CBP_Ops_Status_listbox li.k-state-hover{
    cursor: pointer;
    padding: 1px 5px 1px 5px !important;
    line-height: 1.8em !important;
    min-height: 1.8em !important;
}

#State_listbox li.k-state-selected span,
#Reliever_listbox li.k-state-selected span,
#Reliever_Status_listbox li.k-state-selected span,
#Basic_Use_listbox li.k-state-selected span,
#Hub_Type_listbox li.k-state-selected span,
#Cargo_Service_Airport_listbox li.k-state-selected span,
#GA_Airport_listbox li.k-state-selected span,
#POE_Status_listbox li.k-state-selected span,
#Airport_Tower_Present_listbox li.k-state-selected span,
#Airport_Tower_Type_listbox li.k-state-selected span,
#ARFF_Services_Status_listbox li.k-state-selected span,
#Fuel_Availability_Status_listbox li.k-state-selected span,
#ANS_Infrastructure_Overall_Status_listbox li.k-state-selected span,
#Airport_Overall_Status_listbox li.k-state-selected span,
#Airport_Power_Status_listbox li.k-state-selected span,
#Aviation_Operator_Ops_Status_listbox li.k-state-selected span,
#Airport_TSA_Ops_Status_listbox li.k-state-selected span,
#Airport_CBP_Ops_Status_listbox li.k-state-selected span,
#CDC_Q_Status_listbox li.k-state-selected span,
#CDC_Q-Station_Present_listbox li.k-state-selected span,
#ARFF_Services_Status_listbox li.k-state-selected span,
#Fuel_Availability_Status_listbox li.k-state-selected span,
#Airport_Overall_Status_listbox li.k-state-selected span,
#Airport_Power_Status_listbox li.k-state-selected span,
#Aviation_Operator_Ops_Status_listbox li.k-state-selected span,
#Core_30_Membership_listbox li.k-state-selected span,
#OEP_35_Membership_listbox li.k-state-selected span,
#OPSNET_45_Membership_listbox li.k-state-selected span,
#Airport_Tower_Present_listbox li.k-state-selected span,
#Airport_Tower_Type_listbox li.k-state-selected span,
#Airport_Tower_Status_listbox li.k-state-selected span,
#Approach_Control_Status_listbox li.k-state-selected span,
#Flight_Services_Status_listbox li.k-state-selected span,
#ANS_Infrastructure_Overall_Status_listbox li.k-state-selected span,
#POE_Status_listbox li.k-state-selected span,
#CDC_Q-Station_Present_listbox li.k-state-selected span,
#Airport_TSA_Ops_Status_listbox li.k-state-selected span,
#Airport_CBP_Ops_Status_listbox li.k-state-selected span{
    /*font-weight: 900;*/
}


#State_listbox li,
#State_listbox li[class*='k-state-'],
#State_listbox :-webkit-any(.k-item, [class*='k-state-']),
#State_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Attendance_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Attendance_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Reliever_listbox li,
#Reliever_listbox li[class*='k-state-'],
#Reliever_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Reliever_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Reliever_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Reliever_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Basic_Use_listbox li,
#Basic_Use_listbox li[class*='k-state-'],
#Basic_Use_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Basic_Use_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Hub_Type_listbox li,
#Hub_Type_listbox li[class*='k-state-'],
#Hub_Type_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Hub_Type_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Cargo_Service_Airport_listbox li,
#Cargo_Service_Airport_listbox li[class*='k-state-'],
#Cargo_Service_Airport_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Cargo_Service_Airport_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#GA_Airport_listbox li,
#GA_Airport_listbox li[class*='k-state-'],
#GA_Airport_listbox :-webkit-any(.k-item, [class*='k-state-']),
#GA_Airport_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#POE_Status_listbox li,
#POE_Status_listbox li[class*='k-state-'],
#POE_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#POE_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Airport_Tower_Present_listbox li,
#Airport_Tower_Present_listbox li[class*='k-state-'],
#Airport_Tower_Present_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Airport_Tower_Present_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Airport_Tower_Type_listbox li,
#Airport_Tower_Type_listbox li[class*='k-state-'],
#Airport_Tower_Type_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Airport_Tower_Type_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#ARFF_Services_Status_listbox li,
#ARFF_Services_Status_listbox li[class*='k-state-'],
#ARFF_Services_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#ARFF_Services_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Fuel_Availability_Status_listbox li,
#Fuel_Availability_Status_listbox li[class*='k-state-'],
#Fuel_Availability_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Fuel_Availability_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#ANS_Infrastructure_Overall_Status_listbox li,
#ANS_Infrastructure_Overall_Status_listbox li[class*='k-state-'],
#ANS_Infrastructure_Overall_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#ANS_Infrastructure_Overall_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Airport_Overall_Status_listbox li,
#Airport_Overall_Status_listbox li[class*='k-state-'],
#Airport_Overall_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Airport_Overall_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Airport_Power_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Airport_Power_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Aviation_Operator_Ops_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Aviation_Operator_Ops_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Airport_TSA_Ops_Status_listbox li,
#Airport_TSA_Ops_Status_listbox li[class*='k-state-'],
#Airport_TSA_Ops_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Airport_TSA_Ops_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Airport_CBP_Ops_Status_listbox li,
#Airport_CBP_Ops_Status_listbox li[class*='k-state-'],
#Airport_CBP_Ops_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Airport_CBP_Ops_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#CDC_Q_Status_listbox li,
#CDC_Q_Status_listbox li[class*='k-state-'],
#CDC_Q_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#CDC_Q_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#CDC_Q-Station_Present_listbox li,
#CDC_Q-Station_Present_listbox li[class*='k-state-'],
#CDC_Q-Station_Present_listbox :-webkit-any(.k-item, [class*='k-state-']),
#CDC_Q-Station_Present_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#ARFF_Services_Status_listbox li,
#ARFF_Services_Status_listbox li[class*='k-state-'],
#ARFF_Services_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#ARFF_Services_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Fuel_Availability_Status_listbox li,
#Fuel_Availability_Status_listbox li[class*='k-state-'],
#Fuel_Availability_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Fuel_Availability_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Airport_Overall_Status_listbox li,
#Airport_Overall_Status_listbox li[class*='k-state-'],
#Airport_Overall_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Airport_Overall_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Airport_Power_Status_listbox li,
#Airport_Power_Status_listbox li[class*='k-state-'],
#Airport_Power_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Airport_Power_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Aviation_Operator_Ops_Status_listbox li,
#Aviation_Operator_Ops_Status_listbox li[class*='k-state-'],
#Aviation_Operator_Ops_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Aviation_Operator_Ops_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Core_30_Membership_listbox li,
#Core_30_Membership_listbox li[class*='k-state-'],
#Core_30_Membership_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Core_30_Membership_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#OEP_35_Membership_listbox li,
#OEP_35_Membership_listbox li[class*='k-state-'],
#OEP_35_Membership_listbox :-webkit-any(.k-item, [class*='k-state-']),
#OEP_35_Membership_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#OPSNET_45_Membership_listbox li,
#OPSNET_45_Membership_listbox li[class*='k-state-'],
#OPSNET_45_Membership_listbox :-webkit-any(.k-item, [class*='k-state-']),
#OPSNET_45_Membership_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Airport_Tower_Present_listbox li,
#Airport_Tower_Present_listbox li[class*='k-state-'],
#Airport_Tower_Present_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Airport_Tower_Present_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Airport_Tower_Type_listbox li,
#Airport_Tower_Type_listbox li[class*='k-state-'],
#Airport_Tower_Type_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Airport_Tower_Type_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Airport_Tower_Status_listbox li,
#Airport_Tower_Status_listbox li[class*='k-state-'],
#Airport_Tower_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Airport_Tower_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Approach_Control_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Approach_Control_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Approach_Control_Status_listbox li,
#Approach_Control_Status_listbox li[class*='k-state-'],
#Flight_Services_Status_listbox li,
#Flight_Services_Status_listbox li[class*='k-state-'],
#Flight_Services_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Flight_Services_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#ANS_Infrastructure_Overall_Status_listbox li,
#ANS_Infrastructure_Overall_Status_listbox li[class*='k-state-'],
#ANS_Infrastructure_Overall_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#ANS_Infrastructure_Overall_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#POE_Status_listbox li,
#POE_Status_listbox li[class*='k-state-'],
#POE_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#POE_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#CDC_Q-Station_Present_listbox li,
#CDC_Q-Station_Present_listbox li[class*='k-state-'],
#CDC_Q-Station_Present_listbox :-webkit-any(.k-item, [class*='k-state-']),
#CDC_Q-Station_Present_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Airport_TSA_Ops_Status_listbox li,
#Airport_TSA_Ops_Status_listbox li[class*='k-state-'],
#Airport_TSA_Ops_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Airport_TSA_Ops_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span,
#Airport_CBP_Ops_Status_listbox li,
#Airport_CBP_Ops_Status_listbox li[class*='k-state-'],
#Airport_CBP_Ops_Status_listbox :-webkit-any(.k-item, [class*='k-state-']),
#Airport_CBP_Ops_Status_listbox :-webkit-any(.k-item, [class*='k-state-']) span{
    /*border: 0 !important;
    border-radius: 0 !important;
    outline: none !important;
    background-color: transparent !important;
    color: #000;*/
}




.spacer{
    padding:.5px 0;
    margin: 0px 0px 19px 0px;
}

/* For spacing between labels and textareas I know it isn't ideal but nothing in NISIS is so WHATEVS*/
.divide{
    margin: 0px 0;
    width: 100%;
    padding: 5px 0;
}


/*label {
    color: #333;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
    font-weight: 600;
}
*/
#clear {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #aaa;
}

main > main {
    margin-left: 4.15em;
    width: 100%;
}

/*covers .forms-wrap and .datatables-wrap but was colliding with kendo's [classname$="-wrap"] */
.nisis_profile > main > [class$="-wrap"]{
/*TODO: SWITCH TO EMS*/
/*TODO: match with qsr-menu-container height*/
    position: absolute;
    /*window width - toggle btn width*/
    width: calc(100% - 43px);
    height: 570px;
}


.nisis_profile > main > .forms-wrap{
    width: 95%;
}


.forms-wrap > div > div,
/*.datatables-wrap > div > div */
{
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

.nisis_profile menuitem.current {
    background-color:#2f77b2;
}



.nisis_profile table
/*tbody*/
{
    /*FIXME: was fucking up datatable layout. why?*/
    display: table;
    table-layout: fixed;
    width: 100%;
}

.nisis_profile  tbody{
    table-layout: fixed;
    width: 100%;
}

/*.paper-input{
    border-bottom-style: dashed;
}

.paper-input--touched{
    border-bottom-style: solid;
}*/

.paper-input:not(.paper-input--touched)~ label{
    font-style: italic;
}

/*TODO:
DISCUSS: discuss disabled styles. lighten label w/ field content?*/
[disabled]{
    color: #AAA;
    overflow-y: hidden;
}

/*.paper-input[disabled] {
    border: none;
}*/

.nisis_profile label[disabled]::before,
.nisis_profile label[readonly]::before, 
.nisis_profile label[overwritten]::before{
    position: static;
    margin-right: 0.5em;
    visibility: visible;
    background-color: transparent;
    font-family: "FontAwesome";
    content: "\f023";
    color: #888;
}
.nisis_profile label[overwritten]::before {
    pointer-events: none;
    color: #f00;
}


/* Useful Links */

.divider {
    border-bottom: 1px dotted #b7b7b7;
}
.link-wrapper{
    padding: 10px 0;
}

.link-wrapper a{
    color: #5C6BC0;
    font-size: 1.8em;
    transition: all .3s;
}

.link-wrapper a:hover{
    color:#283593;
}

.link-wrapper i{
    font-size: .6em;
    margin-right: 5px;
    vertical-align: middle;
}

.link-wrapper a{
    text-decoration: none;
}



.files-wrap li.k-file a[download],
.files-wrap li.k-file a[download] .k-filename{    
    text-decoration: none;
    margin-top: 10px;
}

.files-wrap li.k-file a[download] .k-filename:before{   
    content: "\F019" !important;
    text-decoration: underline !important;
    font-family: FontAwesome !important;
    margin-right: 1.2em !important;
}



/*
TODO - something with this
#form-airport_snapshot:target
#form-basic_i:target
#form-associated_ans_systems:target
#form-associated_atm_facilities:target
#form-airport_operations:target
#form-airport_overall_status:target
#form-airport_operations_suplemental_info:target
#form-ans_status_information:target
#form-incident_management_information:target*/





.history-status-display-svg {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
}


/* snapshot images for profiles */
.snapshot-container {
    position: relative;
     width: calc(100% - 20px); 
    height: auto;
    /* margin-bottom: 10px; */
    /* overflow: hidden; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.snapshot-container .thumbnail{
    width: 49.1%; 
    height: 100px;
    transition: all .2s;
     margin-right: 10px; 
    cursor: pointer;
    overflow: hidden;
}
.snapshot-container .thumbnail:nth-last-child(2){
        /* float: right; */
    margin: 0; 
    order: 2;
    /* overflow: hidden; */
}
.snapshot-container .thumbnail img,
.snapshot-container .thumbnail object{
    width: 100%;
    /* height: 100%; */
    transition: all .2s;
}

.snapshot-container .thumbnail:hover img,
.snapshot-container .thumbnail:hover object {
    position: absolute;
    display: block;
    z-index: 9999;
}

.snapshot-container .thumbnail:hover img {
    width: calc(100% - 2px);
    height: 600%;
}

.snapshot-container .thumbnail:hover object {
    width: calc(100% - 20px);
    height: 420px;
}

.snapshot-container .thumbnail:nth-last-child(2):hover img,
.snapshot-container .thumbnail:nth-last-child(2):hover object{
    right:4.5%;
    -webkit-transform: translateX(4.5%);
    -ms-transform: translateX(4.5%);
    transform: translateX(4.5%);
}

.snapshot-container .thumbnail:hover object {
    zoom: 100%;
}

/* file upload toggle button */
/* The switch - the box around the slider */
.upload-section .block{
    width: auto;
    margin: 22px 0px 0 348px;
}
.block span{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    float: right;
    width: 85px;
    margin: 8px 7px 0;
    color:#225F74;
}
