/*i[class^="btn-"]:hover,
button{
    cursor: pointer;
}

main > header  button,
#window input,
#window button{
    margin-left: 0.5em;
    width: 88px;
    height: 30px;
    text-transform: uppercase;
    padding: 5px 10px;
    transition: .3s;
    color: #fff;
}

.toggle-container i {
    display: block;
    font-size: 1.8em;
    color: white;
}

.paper-input~label button{
.paper-input~label button{
    font-size: 1.3em;
    line-height: 0.3em;
    cursor: pointer;
}

.paper-input~label button:first-child{
label button:first-child{
    margin-left: 1em;
}
*/