/* Colors */

.dark-dark-blue{
    background-color: #0A3848;
}
/*.dark-dark-blue{
    background-color: #104152
}*/

/*.light-med-aqua{
    background
}*/

.dark-blue {
    background-color: #114b5f;}
.med-dark-blue {
    background-color: #225F74;}
.med-dark-blue2 {
    color: #225F74;}
.med-blue {
    background-color: #0d4558;}
.med-blue2 {
        color: #317890;}
.light-blue {
    background-color: #4e95ad;}
.yellow {
    background: #FFEB3B;}
.red {
    background: #e53935;}
.green {
    background: #43A047;}
.orange {
    color: #FFB300;}
.med-grey{
    color: #636363;}
.defaultState-grey{
    background-color: rgb(185,203,213);}
.defaultState-grey2{
    color: rgb(114, 134, 145);}
.white{
    background-color: white;}
.white2{
    color: white;}


/*TODO: add adimations*/
/*- yellow hilight*/

/*hilight*/
@keyframes hiliter{
    0% {background-color: yellow;}
    100% {background-color: transparent;}
}

.hiliteField{
    animation-name: hiliter;
    animation-duration: 5s;
}
