/* Form Navigation */
nav.forms {
    position: absolute;
    /*z-index: 3;*/
    top: 0;
    left: -280px;
    width: 280px;
    box-shadow: 0.998px 0.07px 8px 0px rgba(0, 0, 0, 0.27);
    background-color: #fff;
    transition: left .1s;
}

nav main::-webkit-scrollbar{
    disaply: none;
}


nav main {
    overflow-y: scroll;
    /*max-height: 244px;*/
}

/*fix*/
.form-nav-wrap i {
    float: right;
}



#form-nav-content {
    padding: 20px;
    font-size: .8em;
}

ul#form-nav-elements {
    display: grid;
}

#form-nav-elements li {
    list-style: none;
    color: #9b9b9b;
}
#form-nav-elements li:not(:first-child) {
    margin: 20px auto;
}
#form-nav-elements a {
    color: inherit;
    text-decoration: none;
    transition: .1s;
}
#form-nav-elements a:hover {
    color: #636363;
    border-bottom: 1px #636363 solid;
}
#form-nav-elements a.active {
    color: #333;
    border-bottom: 1px #333 solid;
    transition: color .2s, font-weight .2s;
}


/* nav container */
.nav-container{
    position: fixed;
    z-index: 2;
    top: 75px;
    width: 292px;
    height: 512px;
    overflow-x: hidden;
}


nav.forms main li {
    list-style: none;
    color: #9b9b9b;
}

/*nav.forms main li:not(:first-child) {
    margin: 20px auto;
}*/
nav.forms main a {
    color: inherit;
    text-decoration: none;
    transition: .1s;
}
nav.forms main a:hover {
    color: #636363;
    border-bottom: 1px #636363 solid;
}
nav.forms main a.active {
    color: #333;
    border-bottom: 1px #333 solid;
    transition: color .2s, font-weight .2s;
}
