.paper-input__wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.paper-input__wrapper .k-dropdown.k-header.paper-input{
    background-color: transparent !important;
    border-radius: 0;
    padding: 0.185rem 0;
}

.paper-input__wrapper .k-dropdown .k-input{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #333333 !important;
    text-indent: 0 !important;
}

.paper-input__wrapper .k-dropdown-wrap > .k-select > .k-icon {
    vertical-align: baseline !important;
}

.nisis-profile-wrapper .warning {
    background-color: #ea4444;
    color: #ffffff;
}

.paper-input__wrapper .k-dropdown .k-dropdown-wrap,
.paper-input__wrapper .k-dropdown .k-dropdown-wrap.k-state-active,
.paper-input__wrapper .k-dropdown .k-dropdown-wrap.k-state-focused,
.paper-input__wrapper .k-dropdown .k-dropdown-wrap.k-state-hover,
.nisis-profile-wrapper .k-numeric-wrap,
.nisis-profile-wrapper .k-numeric-wrap.k-state-active,
.nisis-profile-wrapper .k-numeric-wrap.k-state-focused,
.nisis-profile-wrapper .k-numeric-wrap.k-state-hover{
    border: 0px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    outline: none !important;
    background-color: transparent !important;
    background-image: none !important;
}

.paper-input__wrapper .k-widget .k-numerictextbox {
  padding: 0 !important;
}

.nisis-profile-wrapper span.numeric {
  padding: 0 !important;
  border-radius: 0 !important;
  text-indent: 0 !important;
}

.paper-input__wrapper .k-widget.k-numerictextbox:focus ~ label::after,
.paper-input__wrapper .k-widget.k-numerictextbox.has-focus ~ label::after {
  visibility: visible;
  width: 100%;
  left: 0;
}

.paper-input__wrapper .numeric {
  display: inline-block;
}

.paper-input {
  display: inline-block;
  width: 100%;
  margin: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a1a1a1;
  font-size: .9rem;
  padding: 0.4rem 0;
}

.paper-input[disabled] {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.12);
  background-color: transparent;
}

.paper-input:focus,
.paper-input.has-focus {
  outline: none;
}

.paper-input:focus ~ label::after,
.paper-input.has-focus ~ label::after
:focus ~ label::after,
.has-focus ~ label::after {
  visibility: visible;
  width: 100%;
  left: 0;
}

.paper-input ~ label,
 {
  font-size: .97em;
  width: 100%;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0.625rem;
  bottom: 0;
  color: #A2A0A0;
}

.k-numerictextbox ~ label::after,
.paper-input ~ label::after {
  content: '';
  background-color: #114b5f;
  height: 2px;
  width: 0.625rem;
  bottom: 0;
  left: 45%;
  visibility: hidden;
  position: absolute;
  transition: 0.2s ease all;
}

.k-dropdown .paper-input{
    background-color: none !important;
}

.nisis_profile  textarea {
    font-family: sans-serif;
    resize: none;
    overflow: auto;
    min-height: 7em;
    /*padding: 0.75em 0 0 0 !important;*/
    margin: 0 !important;
    border-top: 5px #fff solid;
}

/* change dropdown, numeric, multiselect readonly borders */
.nisis_profile .paper-input__wrapper span.paper-input[aria-disabled="true"],
.nisis_profile .paper-input__wrapper textarea[readonly],
.nisis_profile .paper-input__wrapper input[overwritten],
.nisis_profile .paper-input__wrapper input[type="text"][readonly],
.nisis_profile .paper-input__wrapper span.num-readonly {
    color: #aeaeae;
    border-bottom: 1px dashed #aeaeae !important;
    pointer-events: none;
}

.nisis_profile .paper-input__wrapper div[readonly] ~ div.Response_Airport_Designation{
    border: 1px dashed #aeaeae !important;
}

.nisis_profile .paper-input__wrapper .k-numeric-wrap input[type="text"][readonly]{
    border-bottom: none !important;
}

.nisis_profile .paper-input__wrapper select{
    display: block;
    width: 100%;
}

.nisis_profile .k-dropdown-wrap [class*="status-"],
.k-list-container ul > li > [class*="status-"]{
    /*text-indent: 2em;*/
    background-position: -6px 60%;
}


.paper-input--touched ~ label {
  visibility: hidden;
}

.paper-input--floating ~ label {
  transition: 0.2s ease all;
}

.paper-input--floating:focus ~ label,
.paper-input--floating.paper-input--touched ~ label {
  visibility: visible;
  top: -0.625rem;
  color: #114b5f;
}

textarea.paper-input--floating:focus ~ label,
textarea.paper-input--floating.paper-input--touched ~ label{
  bottom: 4px;
}   

.paper-input__error {
  float: left;
  margin-top: 3px;
  color: #d34336;
  font-size: 0.75rem;
  visibility: hidden;
}

.paper-input--floating.paper-input--dirty:invalid ~ label {
  top: -0.625rem;
  font-size: 0.75rem;
  color: #d34336;
}

.paper-input--dirty:invalid ~ label:after {
  background-color: #d34336;
}

.paper-input--dirty:invalid ~ .paper-input__error {
  visibility: visible;
}

.paper-input--dirty:invalid {
  box-shadow: none;
  border-color: #d34336;
}

.nisis_profile td.paper-input{
    display: table-cell;
    border-bottom: 0;
}

.sig{
    display: block;
    margin-top: -1.7em;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 4px 0 12px 0px;
    background: #fff;
    /*position: absolute;*/
    width: 100%;
    font-size: .7em;
}


.nisis_profile .paper-input__wrapper button {    
    padding: 8px 20px;
    background-color: #efebe9;
    color: #263248;
}

.nisis_profile .paper-input__wrapper button:hover {   
    background-color: #e53935;
    color: #ffffff;
}