/* Profiles menu */


.profiles-menu-container{
    width: 275px;
    /*FIXME*/
    /*height: calc(100% - 74px);*/
    height: 100%;
    position: absolute;
    top: 0;
    /*left: 4.2em;*/
    left: -31.5em;
    box-shadow: 0.998px 0.07px 8px 0px rgba(0, 0, 0, 0.27);
    transition: left 0.1s;
}



/*necessary?*/
.profiles-menu-container > header {
    font-size: 14px;
    min-height: 42px;
    color: #fff;
    padding: 10px;
}

header h3{
    padding-top: 2px;
}

.profiles-title {
    font-size: 12px;
    letter-spacing: 1px;
    color: #c2effe;
}

menu.profiles{
    display: block;
    margin: 0;
}

/*FIXME > menu */


.profiles-container{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    margin-left: -2.9em;
    padding: 10px;
    font-size: 1.4em;
    line-height: 1.6em;
    color: white;
    transition: .3s;
}

.profiles-menu-container > header,
.profiles-container {
    display: block;
    width: 275px;
}

.profiles-container:hover{
    cursor: pointer;
    background-color: #366d7f;
}

.profiles-container i[class*='fa-external-link']{
    display: block;
    margin-top: 1em;
    float: right;
    color: #aac8d2;
}

.profiles-container:hover i[class*='fa-external-link']{
    /*display: block;*/
    color: white;
}


menuitem a{
    font-size: 0.8em;
    line-height: 1;
    color: white;
    text-decoration: none;
    vertical-align: baseline;
}
