/* Quick Status Report menu */
.qsr-menu-container{
    position: absolute;
    top: 0;
    left: -31.5em;
    width: 285px;
    height: 100%;
    overflow-y: hidden;
    box-shadow: 0.998px 0.07px 8px 0px rgba(0, 0, 0, 0.27);
    transition: left 0.1s;
}



/*necessary?*/
.qsr-menu-container > header {
    font-size: 14px;
    color: #fff;
    padding: 10px;
}

header h3{
    padding-top: 2px;
}

.qsr-title {
    font-size: 12px;
    letter-spacing: 1px;
    color: #c2effe;
}

menu.qsr{
    display: block;
    margin: 0;
    height: 457px;
}

/*FIXME > menu */


.qsr-container{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    margin-left: -2.9em;
    padding-right: 0.8em;
    padding-left: 0.3em;
    font-size: 1.1em;
    line-height: 1.4em;
    color: white;
    border-bottom: 1px #2b6d84 solid;
    transition: .3s;
}

.qsr-menu-container > header,
.qsr-container {
    display: block;
    width: 275px;
    min-height: 42px;
}


.qsr-container:hover{
    cursor: pointer;
    background-color: #366d7f;
}

.qsr-container i[class*='fa-external-link']{
    margin: 0 0 0 5px;
    color: #225f74;
    font-size: .9em;
    /* line-height: 1.5em; */
}

.qsr-container i[class*='fa-external-link']:hover{
    /*display: block;*/
    color: white;
}

.qsr-mini-toolbar{
    display: block;
    /*flex-direction: column;*/
    float: right;
    margin: 15px 5px 0px 0;
}

/*TODO - redo menu item tpl*/
menuitem .qsr-status {
    float: left;
    margin: 1.1em -1.7em 0 0.6em;
    /*border-radius: 50%;*/
    width: 1.2em;
    /* padding: 10px; */
    height: 1.2em;
}

menuitem .qsr-label{
    padding-top: .7em;
    padding-right: 2em;
    line-height: 1.2;
    font-size: .9em;
}

menuitem .qsr-status-text {
    padding: 0.6em 0;
    font-size: 0.8em;
    line-height: 1;
    margin: 0 0 0 3.1em;
}

.backtotop{
    display: none;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin: 0 0 9px 0px;
    padding: 0;
    position: absolute;
    right: 10px;
    left: auto;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    font-weight: 900;
    box-shadow: none;
    cursor: pointer;
}
/* Scroll indicator */
.qsr-more-scroll{
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    font-size: .9em;
    padding: 0px 10px;
    background-color: #FF5722;
    color: #FAFAFA;
    font-weight: 900;
    box-shadow: none;
    text-align: center;
    cursor: pointer;
}