/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

*, *:before, *:after {
    box-sizing: border-box;
}
html, body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
a, button, h1, h2, h3, h4, h5, h6, input, ol, p, textarea, th, ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    overflow: visible;
}
