.centered{
    margin-right: auto;
    margin-left: auto;
}

.height45px{
    height: 45px;
}

.marginT40px{
    margin-top: 40px;
}

.marginTB20px{
    margin-top: 20px;
    margin-bottom: 19px;
}

.marginL1em{
    margin-left: 1em;
}

.marginR1em{
    margin-right: 1em;
}

.marginRhalfem{
    margin-right: 0.5em;
}

.paddingTB8px{
    padding-bottom: 8px;
    border-bottom: 1px solid #1a1a1a;
}

.padding5px{
    padding: 5px;
}

.padding10px{
    padding: 10px;
}

.padding15px{
    padding: 15px;
}

.padding20px{
    padding: 20px;
}

.paddingT10px{
    padding-top: 10px;
}

.paddingTB5px{
    padding-top: 5px;
    padding-bottom: 5px;
}

.paddingRL10px{
    padding-right: 10px;
    padding-left: 10px;
}

.paddingRL20px{
    padding-right: 20px;
    padding-left: 20px;
}

.paddingR10px{
    padding-right: 10px;
}

.togglerSpacing{
    padding-left: 4.2em;
}
