/*TODO normalize camel, dash, underscore or what ...*/
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway);

/*parts*/
@import url(./paper.css);
@import url(./base.css);
@import url(./colors.css);
@import url(./spacers.css);
@import url(./qsr-menu.css);
@import url(./profiles-menu.css);
@import url(./navs.css);
@import url(./buttons.css);
@import url(./datatables.css);


/*    states:     */
/*FIXME rm `!important`*/
.with-menu{
    width: calc(100% - 322px) !important;
    margin-left: 275px;
}

.moduleCollapsed{
    width: 600px;
}

.no-left {
    left: 4.2em !important;
}
/*TODO: needed?*/
.nav-wrap-off {
    left: -280px;
}

.menu-on {
    left: 4.2em;
}

label{
    overflow: hidden;
    text-overflow: ellipsis !important;
}




/*TODO: need this?*/
[id*="form-"].showProfile{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
/*FIXME: should be table*/
[id*="datatable-"].showProfile{
    display: table;
    display: block;
}


/*TODO: 99% sure we don't needs*/
/*Kendo Grid fixes*/
.k-grid-content [role="grid"]{
    /*margin-top: 2em;*/
}


[id^="datatable-"].grid-pad,
[id^="datatable-"].grid-pad,
[id^="datatable-"].grid-pad .k-grid-header,
[id^="datatable-"].grid-pad .k-grid-content{
    padding: 0;
}

[id^="datatable-"].grid-pad h3{
    padding: 4.5em 0 0 1.3em;
    width: 95%;
}


/* FR-23 Validations */
#validate {
    display: none;
    background-color: #f7c613;
    padding: 10px;
}
.success {
    background-color: #77ce48;
    color: #ffffff;
}
.editing {
    background-color: #f7c613;
    color: #333333;
}


.editable {
    color: #333 !important;
    border: 1px red solid !important;
}
