/* Map Overrides
.map .container:not(#overviewmap-div-map_container){
	width: 100% !important;
    height: 100% !important;
    position: fixed !important;
}

#overviewmap-div-map_container {
    position: absolute !important;
    top: calc(100% - 222px);
    left: calc(100% - 197px);
}
*/

/* why would they do this, trust me doing everyone a favor */
*,
div,
ul,
li,
p,
body,
html{
	-webkit-tap-highlight-color: transparent !important;
	    box-sizing: border-box;
}
#footer {
	/*position: fixed !important;*/
	height: auto !important;
}



.k-window .k-header,
.k-header {
	background-image: none;
	background-color: rgba(243,243,244, .9);
}
.k-link .k-header .k-state-selected,
.k-link .k-header .k-state-focused,
.k-state-focused {
	background-color: rgb(243,243,244);
}
.k-state-selected>.k-link,
.k-panelbar>li>.k-state-selected,
.k-panelbar>li.k-state-default>.k-link.k-state-selected {
	color: #515967;
}
.k-window {
	background-color: transparent;
}
/*kendo tabs*/
/*.k-tabstrip>.k-content,*/
.k-panelbar .k-tabstrip>.k-content {
	padding: 5px;
}
.k-tabstrip>.k-content>.k-block {
	margin-bottom: 5px;
	border-radius: 0;
	background-color: rgba(243,243,244,0);
}
.k-tabstrip>.k-content>.k-block:last-child {
	margin-bottom: 0;
}
/* over tooltip color */
.k-widget.k-tooltip {
	border-color: rgb(243,243,244) !important;
	background-color: rgb(243,243,244) !important;
	color: #515967;
}
.k-callout-n {
	border-bottom-color: rgb(243,243,244);
}

/* sub menu items */
#featuresSubMenu .k-item,
ul.k-menu-vertical>.k-item {
	text-align: left !important;
}

/* ArcGIS Info Window */
.atiButton {
	background-color: rgb(243,243,244) !important;
}
.titleButton .maximize {
	background-color: rgb(81, 89, 103) !important;
}
#toggle-header {
	color: #666666;
	position: absolute;
	top: 10px;
	left: auto;
	right: -13px;
	width: 25px;
	height: 40px;
	z-index: 1000;
	cursor: pointer;
	background: transparent !important;
}
#toggle-header:hover {
	right: 0;
}
#toggle-header span{
	display: table-cell;
	vertical-align: middle;
	font-size: .8em;
}
#app {
	font-size: 1em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}
#openBtn{
	display: none;
	box-sizing: border-box;
    cursor: pointer;
    z-index: 100;
    background-color: #114b5f;
    color: #ffffff;
    position: absolute;
    padding: 9px 10px;
    border-radius: 50%;
    left: 12px;
    top: 6px;
}

#openBtn i{
	vertical-align: bottom;
}
div.k-window {
    max-height: 100%;
    max-width: 100%;
}

div.k-window-content {
   padding: 0px;
   font-size: .8em;
}
/*readjust tooltip*/
.k-tooltip-closable .k-tooltip-content {
	padding: 20px 0 0 0;
}
/*App views*/
.esriPopupWrapper .atiLabel,
.esriPopupWrapper .atiField {}
.atiButtons {
	width: 250px;
	float: left;
}
/*basemaps widget*/
#refLayerToggler{
	text-align: center;
}
.esriBasemapGallery {
	font-weight: normal;
	/*border: 1px solid #d3d3d3;*/
}
.esriBasemapGalleryNode {
	width: 80px;
	height: auto;
	margin: 10px;
	float: left;
}
.esriBasemapGalleryThumbnail {
	width: 80px;
	height: 50px;
}
.esriBasemapGalleryLabelContainer {
	font-size: 12px;
}

/*Reference layer info toggler*/
.esriBasemapGallery .toggleContainer{
	overflow: hidden;
	float: left;
}

.esriBasemapGallery .toggleContainer .buttonContainer{
	position: absolute;
	display: block;
	/*opacity: 0;*/
	padding-top: 8%;
	padding-left: 3%;
}

.esriBasemapGallery .toggleContainer .buttonContainer button{
	display: block;
	margin: 0 auto;
}

/*copied from Stolte's profile CSS with some mods*/
/*TODO: check if redundant*/

#refLayerToggler{
	display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 0 -8em;
}

#refLayerToggler .check{
	width: 20px;
	height: 20px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#refLayerToggler .check input{
	display: none;
}

#refLayerToggler .check input:checked + .boxCheck{
	background-color: #b3ffb7;
	/*cursor: pointer;*/
}

#refLayerToggler .boxCheck,
#refLayerToggler .boxText{
	cursor: pointer;
}

#refLayerToggler.disabled,
#refLayerToggler.disabled *{
	cursor: default !important; /*ugh*/
}

#refLayerToggler .check .boxCheck{
	width: 100%;
    height: 100%;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    border: 2px solid transparent;
    background-color: #EFEBE9;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

#refLayerToggler .check .boxCheck:after {
	width: 50%;
    height: 20%;
    content: '';
    position: absolute;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: #40c540;
    transform: rotate(-45deg) translate3d(0, 0, 0);
    transform-origin: center center;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    left: -4px;
    right: 0;
    top: 200%;
    bottom: 25%;
    margin: auto;
}

#refLayerToggler .check input:checked + .boxCheck:after {
    top: 0;
}

#refLayerToggler .check .boxText{
	position: absolute;
    top: 0;
	margin: 0.2em 0 0 1.2em;
    color: #114b5f;
}
#refLayerToggler.disabled{
	opacity: 0.5;
}
#refLayerToggler.disabled .boxCheck{
	background-color: #DDD !imporant; /*ugh*/
}
#refLayerToggler.disabled .boxCheck:after{
	border-color: #888;
}
#refLayerToggler.disabled .boxCheck:after{
	color: #888;
}
#galleryNode_basemap_11{
	display: none;
}
/* overwrite esri editing tool */
.soria .dijitToolbar {
	border-bottom: 0 solid #ccc;
	background: none;
}

.esriAttributeInspector .atiNavButtons {
	display: block;
}
.esriAttributeInspector .atiFirstIcon {
	background-position: -16px 0px;
}
.esriAttributeInspector .atiPrevIcon {
	background-position: -32px 0px;
}
.esriAttributeInspector .atiNextIcon {
	background-position: -48px 0px;
}
.esriAttributeInspector .atiLastIcon {
	background-position: 0px 0px;
}

.esriAttributeInspector
.atiButton {
	width: auto;
	height: auto;
	margin-right: 5px;
	margin-top: 5px;
}

/* costom tools */
.btnPolygonCut {
	background-image: url('../images/draw/shapes.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
}
.btnPolygonCut .active {
	border: 1px solid #ccc;
}
.btnFeatsIntersect {
	background-image: url('../images/draw/intersect.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
}
.btnFeatsExtract {
	background-image: url('../images/draw/download.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
}

.simpleDirections {
    max-height: 80%;
    overflow: auto;
}
.esriStopsContainer {
    min-height: 150px;
    max-height: 300px;
    overflow: auto;
}
.esriStopGeocoderColumn {
    color: #000;
}
.esriResultsContainer {
    position: relative;
	height: auto;
	max-height: 400px;
	margin: 5px;
	overflow: auto;
}
.simpleDirections .esriRoutesError {
    padding: 10px 10px;
}
#lock-snapping{margin-left: 5px;}
.form-control,.input-group-addon {
	height: auto;
}
.esriControlsBR {
	right: 20px;
	bottom: 25px;
}
#overviewmap-div {
	bottom: 25px;
}
.views {
	position: absolute;
	margin: 0;
	padding: 0;
}
.views .active {

}
.views-header {
	display: block;
	padding: 5px;
}
.views-content {
	display: block;
	padding: 0;
	height: 100%;
}
/* new dialog styles */
.nisis-dialog-wrapper {
    position: absolute;
    font-family: sans-serif;
    padding-top: 0;
    max-height: 100%;
    max-width: 100%;
    min-width: 90px;
    min-height: 50px;
    background-color: transparent;
    color: #515967;
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    top: 254.5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 30000 !important;
    opacity: 1;
    border-style: none;
    border-width: 0;
    border-radius: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;    
    /* background-clip: border-box; */
    /* box-sizing: border-box; */
    /* line-height: normal; */
    /* -webkit-appearance: none; */
    /* transform: scale(1); */
}

.nisis-dialog-wrapper .header {
	background-image: none;
    background-color: rgba(243,243,244, .9);
    border-color: #dbdbde;
    background-position: 50% 50%;
    color: #515967;
    background-repeat: repeat;
}

.nisis-dialog-wrapper .titlebar {
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: auto;
    border-radius: 0;
    flex-grow: 1;
    padding: 10px;
    background-color: #08252f;
    color: #fff;
    font-size: 1em;
}

.nisis-dialog-wrapper .titlebar .k-window-actions{
	display: none;
}

.nisis-dialog-wrapper .titlebar,
.nisis-dialog-wrapper .header{
	margin-top: 0px;
}

.nisis-dialog-wrapper .titlebar .k-window-title{
	position: absolute;
    left: .44em;
    right: .44em;
    overflow: hidden;
    cursor: default;
    text-overflow: ellipsis;
}

.nisis-dialog-wrapper .nisis-dialog {
    color: inherit;
    min-height: calc(100% - 40px);
    padding: 10px;
    border-radius: 0;
}

.nisis-dialog-wrapper .nisis-dialog p {
	font-size: 1.2em;
    border-bottom: 1px solid rgba(120, 118, 117, 0.31);
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}

.nisis-dialog-wrapper .nisis-dialog .dialog-content {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.nisis-dialog-wrapper button.k-button.marg.nisis-dialog-button {
    /*background-color: #08252f;*/
    color: #ffffff;
    background-image: none;
    box-shadow: none;
    outline: 0;
    border: 0;
    border-radius: 0;
    font-weight: bolder;
    margin: 0 10px 0 0;
    padding: 10px;
    width: auto;
    height: auto;
    line-height: 1;
}
.nisis-dialog-wrapper button.k-button.marg.nisis-dialog-button:first-of-type:before {
	font-family: "FontAwesome";
    content: "\f058";
	margin:;
}
.nisis-dialog-wrapper button.k-button.marg.nisis-dialog-button:last-child:before {
	font-family: "FontAwesome";
    content: "\f05e";
	margin:;
}
.nisis-dialog-wrapper button.k-button.marg.nisis-dialog-button:before{
	margin: 0 5px 0px 0;
}
.nisis-dialog-wrapper button.k-button.marg.nisis-dialog-button:first-of-type{
    background-color: #43A047;
}
.nisis-dialog-wrapper button.k-button.marg.nisis-dialog-button:last-child{
	background-color: #546E7A;
}

.dialog {
    display: none;
    color: inherit;
    min-height: calc(100% - 40px);
}
.dialog-content {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.tools-dialog .dialog-options {
	clear: both;
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 5px auto;
}
.tools-dialog .pui-dialog-content {
	font-size: 12px;
}

.ui-menu-item > a{
	font-size:12px;
	margin-left:35px;
}
/*category auto complete*/
.ui-autocomplete-category {
	font-size: 14px;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.2;
}
#user-options ul {
    list-style-type: none;
}
#user-options ul li {
    margin: 5px;
    float: left;
}
#user-options ul li,
#user-options ul li a {
    color: #fff;
}

.nav-item {
	width: 24px;
	height: 24px;
	padding: 5px;
}
#map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	width: auto;
	padding: 0;
	margin: 0;
}


/*search toolbar view*/
.alerts-bar {
	width: auto;
	height: 30px;
	margin: 5px;
	float: left;
}
.alerts-bar .alerts {
	margin-right: 100px;
	float: left;
}
#menu-bar {
	display: inline-block;
	width: auto;
	height: auto;
	margin: 2px;
	padding: 0;

}

.uname-bar {
	margin-top: 13px;
    margin-right: 20px;
    display: inline-block;
}

.menu-item {
	display: inline-block;
	width: auto;
	min-width: 38px;
	height: 30px;
	margin: 3px 3px;
	float: left;
	cursor: pointer;
	text-align: center;
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	z-index: 93829837283;
}

.menu-item-active,
.menu-item:hover {
	border: 1px solid #aaaaaa;
	border-radius: 4px;
}

.menu-item  img {
	display: inline-block;
	vertical-align: middle;
	margin-top: 2px;
}

.menu-label{
    display: none;
	font-size: 9px;
	text-align: center;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	line-height: 0.7;
	font-weight: normal;
}

#view-sub-menu li,
#tbl-view-options li {
	text-align: left;
}

#search-and-admin {
	position: relative;
}

#search {
	position: absolute;
	left: auto;
	right: 10px;
	top: 8%;
	width: 150px;
	height: auto;
	z-index: 2;
	overflow: hidden;
}
#search .search-box {
	font-size: 0.85em;
	width: 100%;
	border-radius: 12px;
	background: rgba(255,255,255,.5);
}
/*input[type=search]{
	background: white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAbCAMAAABY1h8eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA5UExURY2Un5SapZuhq6Kosamut7C1vbe8w7/CycXJzszQ1NTW2tvd4OLk5unq7O3t7fDx8vf4+Pz8/P///6v+6YAAAACdSURBVCjPxZK7AsIgDEVPeCilxGL+/2MdqB1S2sXBTIQzwH3wtuvB/ghrBsjrBPbEPrmfYAQkJQGShwVYvofqYIAy9idEB4H9qQ04w+NiBtvYVxAHM8RuZtYDPBxUQJbWioBsXmflmKpJnX0tDJRUBVm98VpKKWoWOIw4p6IBdk8mkfUI48+zPHtkSJuH/RiyL5qw9B87dFvq1w38ANL1LAEDovT9AAAAAElFTkSuQmCC') left center no-repeat;
	padding-left: 30px;
}*/
/*map navigation*/
#locations-div {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 999;
	margin: 0;
	padding: 0;
}
#addresses {
	margin: 0;
	padding: 0;
}
/*map navigation*/
#nav-div {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 60px;
    min-height: 300px;
    height: auto;
    margin: 0;
    padding: 0;
    opacity: 0.3;
    transition: opacity 1s;
	-webkit-transition: opacity 1s;
    z-index: 999;
}
#nav-div:hover {
	opacity: 1;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}
.navItem {
    cursor: pointer;
    text-shadow: 0 0 15px #ffffff;
}
.panDivs {
	position: absolute;
	width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
	text-align: center;
	vertical-align: middle;
}
#panDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    border: 1px solid #666;
    background: #F2F2F2;
    border-radius: 30px;
}
#panUp{
    top: 0;
    left: 20px;
}
#panUpperRight{
    top: 0;
    left: 40px;
}
#panRight{
    top: 20px;
    left: 40px;
}
#panLowerRight{
    top: 40px;
    left: 40px;
}
#panDown{
    top: 40px;
    left: 20px;
}
#panLowerLeft{
    top: 40px;
    left: 0px;
}
#panLeft{
    top: 20px;
    left: 0px;
}
#panUpperLeft{
    top: 0px;
    left: 0px;
}
#fullExtent {
    top: 20px;
    left: 20px;
    border-radius: 10px;
}
#extentHistory {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.hisDivs {
	width: 20px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
    border-radius: 2px;
}
#nav-previous{
    float: left;
}
#nav-next {
    float: right;
}
#nav-zoomin {
    position: absolute;
    top: 95px;
    left: 22px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}
#zoomSlider {
    position: absolute;
    top: 100px;
    left: 22px;
    width: 10px;
    height: 138px;
    margin: 0;
    padding: 0;
}
#nav-zoomout {
    position: absolute;
    top: 260px;
    left: 22px;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
}
#navToggleTools {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.navDivs {
	position: absolute;
	width: 50%;
    height: auto;
    left: 50%;
    margin: 0 auto;
    margin-left: -25%;
    padding: 0;
}
.navDivs > span {
	text-align: center;
	margin-left: 25%;
	clear: both;
}
#info {
    top: 248px;
}
#nav-pan {
	top: 248px;
    /*top: 280px;*/
}
#nav-zoominbox {
	top: 280px;
    /*top: 313px;*/
}
#nav-zoomoutbox {
	top: 313px;
    /*top: 345px;*/
}

#arcgis-online {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: auto;
}
/*.ago-tabs {
	height: 200px !important;
	overflow: auto;
}
img.agoImg {

}*/
.agoServices,
.agoUserServices {
	color: inherit;
	text-decoration: underline;
}
a.agoServices,
a.agoUserServices {
	color: inherit;
	text-decoration: underline;
}
a.agoLink {color: inherit;}

#overlays-toggle .k-sprite,
#grpLayersContainer .k-sprite,
#threat-layers .k-sprite, #arcgis-online .k-sprite{
    background-image: url("../images/icons/coloricons-sprite.png") !important;
}
.rootfolder { background-position: 0 0; }
.folder { background-position: 0 -16px; }
.pdf { background-position: 0 -32px; }
.html { background-position: 0 -48px; }
.image { background-position: 0 -64px; }

.k-item .k-checkbox {
    margin-top: 5px;
}
/*End layers div*/
#featEditor {
	position: relative;
	margin: 5px;
	clear: both;
	overflow: hidden;
	z-index: 111000 !important;
}
/*#templates-div,
#featTemplates {
	position: relative;
	z-index: 111000 !important;
}*/
.dijitComboButtonFocused {
	z-index: 111000 !important;
}
#btnSnappingLabel {
	color: #000;
}
.templatePicker {
	height: 250px !important;
}
.grid {
	height: 250px !important;
}
.dojoxGridScrollbox {
	height: 250px !important;
}
td.dojoxGridCell {
	width: 30px !important;
	padding: 0;
	margin: 0;
}
div.item {
	width: 30px !important;
	height: 30px !important;
}
div.item:hover {
	background-color: #EBEADB;
}
.groupLabel {
	float: left;
}
.itemLabel {
	display: none;
	height: 0;
}
.tooltip {
	display: block;
	position: relative;
	top: 10px;
	left: 10px;
	width: auto;
}

#pushpin-div .k-block {
	margin: 5px;
}
#gShapes {
	position: inherit;
}
#gShapes .pui-menu {
	z-index: 9999;
}
.shape, .shapeFilter {
	padding: 0;
	border: 1px solid #666;
	cursor: pointer;
}
#tools-div {
    width: 360px;
    margin: 5px auto;
}

/* shape vertices */
#shape-entry > label > input{
    display: none;
}
.draw-entry {
    width: 120px;
}
.draw-type {
    display: none;
}

#dt-hss-nat,
#dt-hss-inc {
	height: auto;
	max-height: 100px;
	overflow: auto;
}
.dt-vertice {
    margin: 5px auto;
    width: auto;
    height: auto;
}
.dt-vertices {
	max-height: 300px;
	overflow-y: auto;
}
.dt-vertices .dt-vertice {
	border: 1px solid #aaaaaa;
	border-radius: 4px;
	/*cursor: move;*/
}
.vertice-option span.k-dropdown {
	width: 200px;
}
input.dt-ll {
	width: 12em;
}
input.dt-lls { /*small version*/
	width: 2.5em;
}
input.dt-llm { /*medium version*/
	width: 4em;
}
input.dt-lon1 { /*medium version*/
	width: 3em;
}
.dt-v-handler {
	width: 1em;
	height: 1em;
}
.dt-vertice-options {
	width: auto;
	height: auto;
	margin: .5em;
}
input#dt-vertices-units {
	width: 400px;
}
input#dt-radius {
	width: 70px;
}
span.dt-add-vertice,
span.dt-remove-vertice {
	cursor: pointer;
}
/* end shape vertices */

/*Shapes options*/
#templatetools .groupLabel {
	font-size: 10px;
}
#templatetools .itemLabel {
	font-size: 10px;
}
.draw-option {
	padding-left: 10px;
	padding-right: 10px;
}
#ss-layers {
	width: 400px;
}
#shape-options {
	margin: 10px;
	clear: both;
}
#point-shape, #line-shape, #polygon-shape, #text-shape {
	display: none;
}
#shape-options table tr {
	padding: 5px;
	margin-bottom: 10px;
}
.shape-options table tr td:first-child {
	width: 230px;
}
.shape-options-label {
	font-size: 12px;
	width: 120px;
}
.shapes-style {
	width: 75px;
}
.size-units {
	width: 75px;
}
.colpick {
	z-index: 9999;
}
.shapes-color {
	position: relative;
	width: 20px;
	height: 20px;
	border: 1px solid #000000;
	z-index: 99999;
}
.shapes-size, .shapes-outline-width, .shapes-trans {
	width: 80px;
}
#label-text {
	width: 300px;
}
#label-font{
	width: 295px;
}
#font-formats label {
	font-size: 10px;
	padding: 1px;
	margin: 0;
}
/*text formating*/
#fbold {
	font-weight: bold;
}
#fitalic {
	font-style: italic;
}
#funderline {
	text-decoration: underline;
}
/*draw featurse with uploaded file*/
#lt-featList {
	height: 100px;
	max-height: 300px;
	resize: vertical;
}
/*buffer and service areas*/
#buffertools, #svcAreaTools {
	display: none;
}
#buffertools .bLatLon,
#svcAreaTools .bLatLon{
	width: 100px;
}
#buffertools #bLatLonUnit,
#svcAreaTools #saLatLonUnit{
	width: 140px;
}
#buffertools #bufferRadius,
#svcAreaTools #saRadius{
	width: 100px;
}
#buffertools #bufferRadiusUnit,
#svcAreaTools #saRadiusUnit {
	width: 200px;
}
.dt-entry {
	width: 200px;
}
.shape-text {
	margin-left: 10px;
	margin-bottom: 5px;
	float: right;
}
/*
 * Measurement widget
 */
#measurements {
	color: inherit;
	width:auto;
	height:100px;
	z-index: 11000;
}
#measuretools {
	height: auto;
	min-height: 150px;
}
.esriToggleButton .dijitButtonNode {
	color: inherit !important;
}
/* All esri dijit dropdown show be up*/
.dijitPopup {
	z-index: 11000 !important;
}
/*filter div*/
#filter-content {

}
.f-shape-options {
	text-align: center;
	clear: both;
}
#filterByAttr {
	display: block;
}
#filterByArea {
	display: none;
}
#filterByArea .ui-state-highlight {
	color: #fff;
	background: #999;
}
#filterByAttr .dropDown {
	width: 300px;
}
#filterByAttr .textField {
	width: 300px;
}
#fSahpeList {
	width: 300px;
}
#f-shape-radius {
	display: block;
}
#f-shape-line, #f-shape-area {
	display: none;
}
#fShapeRadius {
	width: 80px;
}
#fShapeRadiusUnit {
	width: 100px;
}
#fShapeCriteria {
	width: 360px;
}
#fShapeList-wrap, #fShapeList-wrap .pui-listbox {
	width: 300px;
	height: 125px;
}
/*filter layers by attr*/
#filterByAttr-options {
	width: 380px;
	height: auto;
	overflow: hidden;
}
#filter-criteria {
	width: 175px;
	height: 130px;
}
#f-criteria-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#f-criteria-list li {
	float: left;
}
.f-criteria {
	width: 50px;
	height: 25px;
}
#fField-values-wrap, #fField-values {
	width: 200px;
	height: 125px;
}
#filterQuery {
	height: 50px;
	resize: none;
}
/*Directions Widget*/
#directions-div .esriStopsContainer {
	margin: 10px;
}
/*table view*/
#tableview-content {
    width: 100%;
    height: calc(100% - 2px);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#tbl-splitter {
	width: 100%;
	height: 100%;
}
#tbl-panel-left > .k-header,
#dash-panel-left > .k-header {
    height: auto;
    margin: 0;
    padding: 10px;
}
.tbl-input {
    width: 100%;
}
.tbl-input1 {
    width: 25%;
}
.tbl-input2 {
    width: calc(50% - 5px);
}
.tbl-input3 {
    width: calc(33% - 5px);
}
.tbl-box {
	border: 1px solid #B6BDCA;
	border-radius: 10px;
}
#tablewrapper > .k-header {
    height: auto;
    padding: 5px;
}
#tablewrapper .tbl-panels .k-header .k-textbox > input {
    height: auto;
    text-indent: 5px;
    line-height: 0.8;
    width: 400px;
}

#table-wrap {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
}
#table {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.tbl-search {
	width: 250px;
}
#tbl-search {
	border-radius: 2px;
}
.k-animation-container {
	max-height: 50% !important;
}
/*Search box*/
#search-box{
	font-size: 12px;
}
#search-behavior{
	display: inline;
	font-size: 12px;
}
#buttons {
	float:left;
	font-size: 12px;
	margin: 3px;
	width: 100%;
}
/*reports view*/
#reportsview-div {
	display: none;
	position: absolute;
	top: 20px;
	left: 400px;
	z-index: 9999;
}
/*print window*/
.print-input {
    width: 280px;
}
.print-link {
    color: inherit;
}

/* scale bar*/
#scale-bar {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: auto;
	height: auto;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-left-color: #000;
	z-index: 999;
}

/* nisis oject profiles*/
.p-update,
.p-iwl {
	font-size: 10px;
}
.p-iwl {
	padding: 3px;
	background: #0375b7;
}

.p-content {
	height: auto;
	overflow: hidden;
}
.p-content .p-panels {
    margin: 0;
    padding: 0;
	overflow: hidden;
}
.p-panel {
    width: 100%;
    height: auto;
    max-height: 330px;
    clear: both;
    overflow: auto;
}
.p-sec {
    clear: both;
    height: auto;
	//max-height: 330px;
    overflow: none;
}
.p-sec-header {
	margin: 10px;
	clear: both;
    overflow: hidden;
}
.p-sec-header .p-sec-title {
    text-align: middle;
    /* cursor: pointer;*/
}
.p-sec-content {
	height: auto;
	/* max-height: 400px; */
	max-height: auto;
	margin: 5px;
	padding: 5px;
	/*
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	border-radius: 4px;
	*/
	overflow: none;
}
.p-sec-content .p-sec-group {
	height: auto;
	margin: 3px;
	background: #d3d8f8;
	border: 1px solid #cccccc;
}
.p-sec-content .p-sec-row .p-sub-sec {
    display: inline-block;
    width: calc(50% - 10px);
    float: left;
}

.p-sec-row {
	width: calc(100% - 2px);
	height: auto;
	margin-bottom: 5px;
}
.p-sub-sec,
.p-full-sec {
	width: calc(50% - 15px);
	height: auto;
	min-height: 20px;
	margin: 1px;
	padding: 0;
}
.p-full-sec {
	width: calc(100% - 10px);
}
.p-sub-sec .f-label {
	display: inline-block;
	text-align: right;
	width: calc(50% - 30px);
	height: auto;
	margin-right: 5px;
}
.p-full-sec .f-label {
	display: inline-block;
	text-align: right;
	width: calc(20% - 20px);
	height: auto;
	margin-right: 5px;
}
.p-sub-sec .f-value {
	display: inline-block;
	text-align: left;
	width: calc(50% - 30px);
	height: auto;
	margin-left: 5px;
}
.p-full-sec .f-value {
	display: inline-block;
	text-align: left;
	width: calc(80% - 30px);
	height: auto;
	margin-left: 5px;
}
.f-label {
	font-family: TW Cen MT, Arial, san-serif;
	/*font-weight: bold;
	font-style: italic;*/
}
.f-value {
	font-family: TW Cen MT, Arial, san-serif;
}
.f-value a {
	color: blue;
}
.f-value textarea {
	height: auto;
	min-height: 50px;
}
.f-value input,
.f-value select,
.f-value span.k-textbox,
.f-value span.k-dropdown {
	width: 100%;
}

/* Ground Based Position Approaches */
img.gbpa-icon {

}
span.gbpa-label {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	padding: 0 0 0.3em;
}

.alertsButton img,
.f-value img.dropicon,
.f-value .input-group img {
	vertical-align: middle;
}

#app-faa-image,
#app-dot-image {
	position: relative;
	width: 45px;
	height: 35px;
	bottom: 2px;
}
#new-menu {
	position: relative;
	bottom: 5px;
	color: white;
	z-index: 5;
	margin: 0px;

}

/* Data block */
#data-blocks {
	position: absolute;
	display: none;
	top: 50px;
	left: 10px;
	min-width: 150px;
	width: auto;
	max-width: 400px;
	min-height: 100px;
	height: auto;
	padding: 5px;
	margin: 10px;
	border: 1px solid #666;
	background: rgba(226,229,218,.7);
	border-radius: 10px;
	z-index: 99999;
}
/* clusters */
div.cluster {
	display: table;
	width: 100%;
	max-width: 400px;
	height: auto;
	min-height: 20px;
	max-height: 400px;
	margin: 0;
	padding: 0;
	overflow: auto;
}
.cluster-layer {
	display: block;
	width: 100%;
	overflow: hidden;
	/*border-bottom: 1px solid #cccccc;*/
}
.cluster-layer:last{
	/*border-bottom: none;*/
}
.cluster-line {
	border-top: 1px solid #cccccc;
}
.cluster-item {
	display: table-cell;
	width: auto;
	height: auto;
	margin: 5px;
	padding: 0;
	float: left;
	overflow: hidden;
}
.cluster-item
.cluster-label {
	font-size: .8em;
}

/* TFR Builder*/
#tfr-div {
	margin:0;
	padding: 0;
}
.TFR-VAR{
	display: inline-block;
}
#tfr-menu {
	background-color: #f2eceb !important;
	border: none !important;
}

#tfr-menu li{
	color: #333 !important;
	border-color: #e5dfde !important;
}

#tfr-menu span:hover{
	background-color: #e5dfde !important;
}

#tfr-body {
	padding: 10px;
}

#tfr-content {
	position: absolute;
	min-height: 500px;
	height: auto;
	top: 75px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

#tfr-infos span{
	float:left;
}

#saveMenu{
	display: none;
    float: left;
}

#saveMenu span{
	font-size: 1.2em;
	margin-left: 10px;
	cursor: pointer;
}

#saveMenu span:first-child{
	border-left: 1px #BBB solid;
	padding-left: 10px;
}

.tfr-type-desc {
	width: 60%;
	min-width: 300px;
	border: 1px solid #fff;
	border-radius: 5px;
}
.tfr-dates table th {

}
.tfr-btn {
	padding: 0;
}

.tfr-web-header {
	display: block;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	margin-top: 10px;
	background-color: #52A4D8;
}
.tfr-web-header:first {
	margin-top: 5px;
}

.ans-status{
    width: 16px;
    text-indent: -500%;
    display: inline-block;
    background-size: 14px;
    background-repeat: no-repeat;
}
.ans-status.data-template{
    height: 63%;
    background-position: 0 40%;
    position: relative;
    top: 3px;
}
.ans-status.template{
    height: 100%;
    background-position: 0 50%;
}

/*	making sure the indicia is visible for reorderable tabs */
.k-reorder-cue{
	z-index: 9999999;
}

/* these two are not being applied ==> Find out why? */
div.area-inst {
	border: 1px solid #dbdbde;
	min-height: 50px;
}
div.area-inst .select {
	border-color: #52A4D8;
}

#statusExplanation, #supplementalNotes {
    text-align: center;
}

#statusExplanation  textarea, #supplementalNotes textarea {
  /* width:90%;
   margin-left:5%;
   margin-right: 5%;
   margin-top: 20px; */
   height:200px;
   width: 300px;
}
#statusExplanationError {
	display:none;
	margin-left:5%;
	color: red;
}
#supplementalNotesOKButton, #statusExplanationOKButton {
	margin-right: 10px;
}

#airportsProfileDirtyForm, #ansProfileDirtyForm, #atmProfileDirtyForm, #osfProfileDirtyForm, #respProfileDirtyForm {
	color:red;
	font-size: 20px;
}

.hidden {
	display: none;
}

.facHistoryButton .k-icon{
	background-image: none;
}

:root * > .statusHistoryButton {
    vertical-align: middle;
    text-align: center;
}

:root * > .ul_pencil_history {
    vertical-align: middle;
}

.ul_pencil_history {
	display: inline-block;
    list-style: none;
    margin: 0 5px;
    padding: 0;
}
.ul_pencil_history li {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.ul_pencil_history li span.statusHistoryButton  {
    margin: 0 0 0 2px;
}



.statusImages {
	display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-size: 100%;
    margin-right: 5px;
}

.hidden {
	display:none;
}

.centeredWrapper {
	text-align: center;
	padding: 0 0 20px 0;
}

.centeredWrapper span.k-button {
	margin: 0 4px;
}

.dotProfileDirtyForm {
	font-size: 16px;
	/*margin-left: 45%;*/
	color: #d32f2f;
	text-align: center;
}



.dot_profile_form {
    margin: 20px 0px 0px 0px;
}

.dot_form_group {
	margin: 0 0 6px 0;
}

.dot_profile_form .dot_form_group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    margin: 0px 1em 0px 0px;
}
.dot_form_right {
	display: inline-block;
}

.dot_form_group span.k-button{
    margin: 0 0px 0 4px;
}

.dot_form_group .status-explanation{
    width: 300px;
}

.dot_form_group .read-only{
    width: 334px;
    border-style: none;
    background-color: white;
}


.dot_form_group .status-supplemental-note{
    width: 266px;
}

.dot_form_right span.k-textbox {
	width: 270px;
}

.dot_profile_form .status-dropdown {
	width: 300px;
}

.dot_profile_form .status-dropdown k-dropdown-wrap {
	width: 315px;
}

.dot_profile_form input{
	width: 334px;
}

.dot_profile_form .non-status-dropdown{
	width: 334px;
}

/* User Admin */

ul#adminTables td{
	vertical-align: top;
}

#groupsPanel td{
	width: 33.33% !important;
}


.ans_status {
	width: 16px;
    height:16px;
    display:inline-block;
    vertical-align:middle;
    margin: 0 4px 2px 0;
}
.ans_status_0 {
    background-image: url('../images/dropdowns/ANS_STATUS_0_icon.png');
}
.ans_status_1, .ans_status_2, .ans_status_3 {
    background-image: url('../images/dropdowns/ANS_STATUS_1_icon.png');
}
.ans_status_4 {
    background-image: url('../images/dropdowns/ANS_STATUS_4_icon.png');
}

.vor-picklist-arrow {
	background: url("../images/nav/downVors.png") no-repeat 95% 50%;
}

tr.k-state-selected td.vor-picklist-arrow {
	background: url("../images/nav/downVorsSel.png") no-repeat 95% 50%;
}

#shapes-manager-actions-bar {
	margin: 10px 0 10px 6px;
}
#sendToBack span.k-icon {
	background-image: url("../images/icons/sendToBack.png");
}
#bringToFront span.k-icon {
	background-image: url("../images/icons/bringToFront.png");
}
#sendBackward span.k-icon {
	background-image: url("../images/icons/sendBackward.png");
}
#bringForward span.k-icon {
	background-image: url("../images/icons/bringForward.png");
}

.shape-row {
	width: 90%;
	margin-left: 5%;
    margin-right: 5%;
}

.shape-row button {
	float: right;
	margin-top: -1px;
    margin-right: -2px;
}

.shape-row .hidden {
	display: none;
}

.shape-row p {
color: white
}


#shapes-manager-list tr.k-alt tr:not(k-state-selected) {
	color: #000;
	background-color: #EDF4FD;
}

.esriPopupWrapper table td {
	padding: 3px;
}

.k-list-optionlabel.k-state-selected.k-state-focused{
	margin-top: 3px;
	border-color: #1984C8;
	background-image: none,linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
	background-color: #1984C8;
}


.nisis_profile ul, .nisis_profile button {
     margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    overflow: visible;
}

.nisis_profile button {
	cursor: pointer;
}

.nisis-profile-wrapper {
	font-family: sans-serif;
    height: 550px;
    border: none !important;
}

.nisis-profile-wrapper .k-window-title{
	font-size: .8em !important;
    left: 0.7em !important;
    top: .6em;
}

/*FB: correct height is set in navs.css  */
main.nisis_profile .nav-container {
    /*top: 40px;*/
}

main.nisis_profile .qsr-menu-container > header, main.nisis_profile .profiles-menu-container > header  {
     padding: 1px 10px;
}

main.nisis_profile .toggle-container li {
	width: auto; /* fixes issue with li overflowing */
	height: 3em;
}

.nisis-profile-wrapper .grid {
    height: 550px !important;
    overflow-x: hidden;
}

.nisis-profile-wrapper .k-window-titlebar {
	background-color: #114b5f !important;
}

.nisis-profile-wrapper .k-window-titlebar  {
	 color: white;
}

.nisis-profile-wrapper .profiles-container {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    margin-left: -2.6em;
    padding: 4px;
    font-size: 1.2em;
    line-height: 1.6em;
    color: white;
    transition: .3s;
}

div[id^="airport_object"]{
	padding: 0;
}

.nisis-profile-wrapper header {
	width: auto;
}

main.nisis_profile > header {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 40px;
}

.nisis-profile-wrapper  menuitem .qsr-status {
    /*margin: 1em 1em 1.5em;*/
	background-position: -0.5em -0.5em; /* FB: adjusting for icon */
}

.nisis-profile-wrapper  menuitem a {
    padding: 0 0 0 10px;
}

/*.nisis-profile-wrapper  .qsr-container i[class*='fa-external-link'] {
    margin-right: 10px;
}*/

.nisis-profile-wrapper #form-status_update h3 {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

.nisis_profile .k-grid-header, .nisis_profile .k-grid-header th.k-header {
    background-color: #114b5f !important;
}


.nisis-profile-wrapper div.k-window-content {
	/*height: auto;*/
}

.nisis-profile-wrapper .paper-input__wrapper {
	margin: 1rem auto;
	margin-bottom: 1rem;
}

.nisis-profile-wrapper .forms-wrap h3,
.nisis-profile-wrapper .datatables-wrap h3 {
	font-size: 1em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.nisis-profile-wrapper .section-grid {
	padding: 10px;
}

.nisis-profile-wrapper .grid-label {
	display: block;
    margin: 10px 0px;
    color: #2f77b2;
    font-weight: bold;
}

.nisis-profile-wrapper .link-label {
	display: block;
    margin-bottom: 4px;
    color: #2f77b2;
    font-weight: bold;
}

.rivers-hydrograph {
	margin-left: 3px;
	text-transform: uppercase;
}

.river_url:first-letter {
  text-transform: uppercase;
  display: inline-block;
}

/*
==========================
	File Upload
==========================
*/

/* hide div with box class - not needed */
.nisis-profile-wrapper .box {
	display: none;
}

/* wrapper */
.nisis-profile-wrapper .files-wrap {
	width: calc(100% - 53px) !important;
    height: 500px !important;
    box-sizing: border-box;
    margin-top: 45px;
    padding: 10px;
}

.nisis-profile-wrapper .k-widget ul {
	/*display: flex;*/
    flex-direction: row;
}

.nisis-profile-wrapper .k-widget ul li {
	display: flex;
	flex-direction: row;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nisis-profile-wrapper .title_Response_Airport_Designation {
	margin-bottom: 8px;
    margin-top: -10px;
    margin-left: 0px;
}
.nisis-profile-wrapper .Response_Airport_Designation {
	margin-bottom:10px;
}

.nisis-profile-wrapper .Response_Airport_Designation .k-multiselect-wrap li {
	padding: .1em 1.6em .1em .4em;
	margin: 1px 0 1px 1px;
	background-color: #f5f5f5;
    background-image: none;
    color: #114b5f;
    border: 1px rgba(17, 75, 95, 0.46) solid;
}

.nisis-profile-wrapper .Response_Airport_Designation .k-multiselect-wrap li > .k-select > .k-icon {
	vertical-align: text-top !important;
	margin-top: -1.2px;
}

.nisis-profile-wrapper .title_Response_Airport_Designation[disabled]::before,
.nisis-profile-wrapper .title_Response_Airport_Designation[readonly]::before {
    position: static;
    margin-right: 0.5em;
    visibility: visible;
    background-color: transparent;
    font-family: "FontAwesome";
    content: "\f023";
    color: #888;
}

.nisis-profile-wrapper .k-file-sucess strong{
	top: 29px;
}

.nisis-profile-wrapper .k-file-success strong,
.nisis-profile-wrapper .k-file-success .k-filename{
	flex-grow: 1;
	align-self: center;
	top: 0.9em !important;
}

.nisis-profile-wrapper .k-file-success strong.k-upload-status:after {
    content: 'Remove';
    margin-left: 5px;
    vertical-align: 32%;
    font-weight: 100;
    color: #114b5f;
}

.nisis-profile-wrapper .k-file-success .k-upload-pct {
    vertical-align: 15%;
}

.nisis-profile-wrapper .upload-section .k-widget {
	border: none;
	border-radius: 0;
}

/* file selection */
.nisis-profile-wrapper .upload-section .k-dropzone{
	border: none;
    border-radius: 0;
    padding: 1.5em 0;
	background-color: #efebe9;
}

.nisis-profile-wrapper .k-dropzone .k-upload-button{
    background-color: #114b5f !important;
    background-image: none !important;
    color: #fff !important;
    outline: 0 !important;
    border: none !important;
    border-radius: 3px !important;
    width: 10% !important;
    position: absolute !important;
    margin-top: -5px !important;
    margin-left: 13px !important;
}

.nisis-profile-wrapper .upload-section .k-upload-button input {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    display: block !important;
    z-index: 1 !important;
    font: 170px monospace !important;
    filter: alpha(opacity=0) !important;
    opacity: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer !important;
}

/* Thumbnail */
.nisis-profile-wrapper .k-file-success .thumbnail{
	width: 70px;
	height: 70px;
	margin-left: 14px;
	padding: 5px 0;
	transition: all .2s;
}

.nisis-profile-wrapper .k-file-success .thumbnail img,
.nisis-profile-wrapper .k-file-success .thumbnail object {
	width: 100%;
	height: 100%;
	transition: all .2s;
}

.nisis-profile-wrapper .k-file-success .thumbnail object{
	overflow-y: hidden;
}

.nisis-profile-wrapper .k-file-success .thumbnail:hover img,
.nisis-profile-wrapper .k-file-success .thumbnail:hover object {
	position: absolute;
	width: 87.333%;
	height: auto;
	display: block;
	z-index: 999;
}
.nisis-profile-wrapper .k-file-success .thumbnail:hover object {
	zoom: 150%;
}

/* uploaded file */
.nisis-profile-wrapper .k-file-success button > span {
    /*position: relative !important;
    top: 0 !important;*/
    display: none;
}

.nisis-profile-wrapper .k-file-success button {
    margin-top: 1.6em !important; 
    width: auto;
    height: auto;
    padding: 4px;
    position: relative;
    background-color: #efebe9 !important;
    border: 2px solid transparent;
    border-radius: 0;
    transition: .2s;
}

.nisis-profile-wrapper .k-file-success button:before {
	font-family: "FontAwesome";
    content: "\f00d";
    color: #114b5f;
}


.nisis-profile-wrapper .k-file-success button:hover{
	background-color: #1976D2 !important;
}
.nisis-profile-wrapper .k-file-success button:hover:before {
color: #fff !important;
}
.nisis-profile-wrapper .k-file-success .k-filename {   
    color: #114b5f !important;
    margin: 0 0 21px 13px;
}

.nisis-profile-wrapper .files-wrap .demo-hint{
	font-size: .8em;
    color: #114b5f;
    padding: 10px 14px;
}

.nisis-profile-wrapper .k-file-success .k-progress,
.nisis-profile-wrapper .k-file-error .k-progress,
.nisis-profile-wrapper .k-file-progress .k-progress {
	width: 100%;
    display: block;
    background-color: transparent;
    z-index: -1;
}

/* uploading progress */
.nisis-profile-wrapper .k-file-error,
.nisis-profile-wrapper .k-file-progress{
	padding: 10px 20px !important;
}

.nisis-profile-wrapper .k-file-error > span.k-icon,
.nisis-profile-wrapper .k-file-progress > span.k-icon{
	margin-left: 17px !important;
	margin-top: 2px !important;
}

.nisis-profile-wrapper .k-file-error .k-filename,
.nisis-profile-wrapper .k-file-progress .k-filename{
	margin-left: 42px !important;
}

.nisis-profile-wrapper .k-file-error .k-upload-status{
	top: 1em !important;
}


/* Datatable pagination fix for profiles */
.nisis-profile-wrapper .k-current-page {
	display: none !important;
}

/* very special rule for skinny Incident Management section of the ANS profile */
.kendoInfoWindow.ANS div[id^="form-incident_info-"] {
    height: auto !important;
     overflow-y: hidden;
}


/*
==========================
	Runway Tooltip
==========================
*/
.runway-tooltip .k-tooltip-content{
	padding: 20px;
}

.runway-tooltip{
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    color: #114b5f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.runway-tooltip tbody{
	padding: 0;
}

.runway-tooltip tr {

    margin-bottom: 7px;
}

.runway-tooltip td {
    padding: 10px;
    border: 1px rgba(51, 51, 51, 0.15) solid;
    width: 50%;
}

.nisis-profile-wrapper  .notesHistoryButton {
    pointer-events: auto;   /* enable the click inside the fancy wrapper */
}

/* File upload fixes */
.k-file .k-icon {
    position: relative;
    top: -3px;
}

.history-status-display-svg {
	padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
}

.last-updated-wrap{
	border-top: 1px rgba(51, 51, 51, 0.11) dashed;
	padding: 0.625em 0;
}

.resize i {
	vertical-align: bottom;
	margin-right: 0.313em;
}

#dashboardwrapper #dash-ovr-sts-ad-chart h1,
#dashboardwrapper #dash-ovr-status-chart h1{
	color: #8a8a8a;
    font-size: 22px;
    text-align: center;
    margin: 14px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
}
#dashboardwrapper #dash-ovr-status-chart{
	margin-bottom: 40px !important;
}


#dashboardwrapper #dash-ovr-sts-ad-chart svg{
	padding: 20px 0 0 0 !important;
}



.esriLegendServiceLabel {
  display: block;
  padding: 0.5em;
  text-align: left;
  border-bottom: 1px solid #114b5f;
  color: #666;
}

.esriLegendServiceLabel::before {
    font-weight: bold;
    font-size: 14px;
    content: "-";
    /*vertical-align: text-top;*/
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background: #114b5f;
}


.esriLegendLayer {
	padding-left:10px;
}
.esriLegendServiceLabel.collapsed::before {
    content: "+";
}

.esriLegendService {
    padding-bottom: 2px !important;
}

#map_layers_tabs .k-tabstrip-items .k-link, .k-panelbar .k-tabstrip-items .k-link {
    padding: .5em .32em;
}


.esriBasemapGalleryLabelContainer {
     padding-bottom: 6px;
}

/* New Layers styles */
.layers{
	border-radius: 0;
	border: none !important;
}

.layers > .k-window-titlebar .k-header,
.layers > .k-header {
	border: none;
	background-color: #114b5f;
	border-radius: 0;
	margin-top: -36px !important;
}

.layers .k-window-title {
	color: #fff;
}

.layers > .k-window-titlebar .k-header > .k-window-actions{

}

.layers-button-menu {
	display: flex;
	flex: 1;
	justify-content: flex-end;
    background-color: #edf4fd;
    font-size: 1.2em;
    color: #15627c;
}

#layer-options {
	padding: 3.33px;
}

#layer-options span {
	border: none;
	background-color: transparent;
	background-image: none;
}

#layer-options span i {
	color: #15627C;
}

#layer-options span:hover,
#layer-options span i:hover {
	cursor: pointer;
}

#overlays-content {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}
#overlays-content span {
    color: inherit;
}
#overlays-toggle {
	position: relative;
	width: 100%;
	height: inherit;
	box-sizing: border-box;
	/*min-height: 300px;
    max-height: 400px;
	overflow: auto;*/
}

#map_layers_tabs > div.k-content > div.overlays,
#map_layers_tabs > div.k-content > div.ago-tabs {
	min-height: 300px;
    max-height: 400px;
    padding: 10px;
	overflow: auto;
}



/*#overlays-toggle::-webkit-scrollbar{
	display: none !important;
}*/

#map_layers_tabs {
    background-color: white !important;
    border: none;
}

#map_layers_tabs h1 {
	color: #333;
	padding: 10px 0px;
}

#map_layers_tabs > div.k-content.k-state-active{
    display: flex !important;
    flex-flow: column nowrap;
    border: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

#map_layers_tab > div.k-treeview {
	padding: 10px;
}

#map_layers_tabs>ul {
    padding: 0;
    background-color: #15627c;
    overflow hidden;
}

#map_layers_tabs>ul>li {
    border: none;
    background-image: none;
}

#map_layers_tabs>ul>li>span {
    color: white;
}

#map_layers_tabs>ul>li.k-state-default{
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0 10px;
}

#map_layers_tabs>ul>li.k-state-active {
    background-color: #edf4fd;
}

#map_layers_tabs>ul>li.k-state-active span{
    color: #15627c !important;
}

#map_layers_tabs span.k-loading{
    display: none;
}

/* push arcgis login to front */
.soria .dijitDialog {
	z-index: 900000 !important;
}

#layer-trans div.balSlider {
    width: 100%;
}


#ui-process {
	overflow: hidden;
    height: auto;
}

#ui-process i {
	margin: 10px 0;
}