/*@import url("../deps/normalize.css");*/
@import url("../deps/esri/library/3.11/jsapi/dijit/themes/soria/soria.css");
@import url("../deps/esri/library/3.11/jsapi/esri/css/esri.css");
@import url("../deps/kendoui/styles/kendo.common.min.css");
@import url("../deps/kendoui/styles/kendo.silver.min.css");
@import url("../deps/font-awesome/css/font-awesome.min.css");
@import url("login.css");
:root {

}

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
body {
	font-family: TW Cen MT, Arial, Helvetica, sans-serif;
	overflow: hidden;
	position: fixed;
}
/*scrollbar*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}/* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
	border-radius: 2px;
	background-color: rgba(243,243,244,0.5);
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
	width: 5px;
   background-color: rgba(0, 0, 0, 0.3);
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
      background-color: rgba(0, 0, 0, 0.4);
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

.esriPopup .contentPane {
	height: auto !important;
	max-height: 90% !important;
	overflow: hidden;
}

.il-block, .d-ib {display: inline-block;}
.d-b {display: block;}
.ft-b {font-weight: bold;}
.fw-b {font-weight: bold;}
.fs-i {font-style: italic;}

.td-u {text-decoration: underline;}
.td-o {text-decoration: overline;}
.td-l {text-decoration: line-through;}

/* text color */
.tc-n {color: inherit;}
.tc-r {color: red;}
.tc-g {color: green;}
.tc-b {color: blue;}
.tc-y {color: yellow;}
.tc-o {color: orange;}


.hzl {border-bottom: 1px solid #ccc}

.marg, .mg {margin: 5px;}
.margTop, .m-t5, .m-t {margin-top: 5px;}
.m-t0 {margin-top: 0px;}
.m-t10 {margin-top: 10px;}
.m-t15 {margin-top: 15px;}
.margBottom, .m-b5, .m-b {margin-bottom: 5px;}
.m-b0 {margin-bottom: 0px;}
.m-b10 {margin-bottom: 10px;}
.m-b15 {margin-bottom: 15px;}
.margLeft, .m-l5, .m-l {margin-left: 5px;}
.m-l0 {margin-left: 0px;}
.m-l10 {margin-left: 10px;}
.m-l15 {margin-left: 15px;}
.margRight, .m-r5, .m-r {margin-right: 5px;}
.m-r0 {margin-right: 0px;}
.m-r10 {margin-right: 10px;}
.m-r15 {margin-right: 15px;}
.center, .ctr {margin:5px auto;}

.pad, .pd {padding: 5px;}
.pd10 {padding: 10px;}
.pd15 {padding: 15px;}
.padTop, .p-t {padding-top: 5px;}
.p-t10 {padding-top: 10px;}
.p-t15 {padding-top: 15px;}
.padBottom, .p-b {padding-bottom: 5px;}
.p-b10 {padding-bottom: 10px;}
.p-b15 {padding-bottom: 15px;}
.padLeft, .p-l {padding-left: 5px;}
.p-l10 {padding-left: 10px;}
.p-l15 {padding-left: 15px;}
.padRight, .p-r {padding-right: 5px;}
.p-r10 {padding-right: 10px;}
.p-r15 {padding-right: 15px;}

.clear, .clr {clear: both;}
.clearLeft, .c-l {clear: left;}
.clearRight, .c-r {clear: right;}

.left {float: left;}
.right {float: right;}
.of-h {overflow: hidden;}
.dt-vertice .left.of-h {padding-bottom: 2px;}
.of-a {overflow: auto;}
.of-s {overflow: scroll;}

.pointer, .c-pter, .c-pt {cursor: pointer;}
.c-txt {cursor: text;}

.w-a {width: auto;}
.w-fit {width: 100%;}
.w-fit-m {width: calc(100% - 10);}
.w-75p {width: 75%;}
.w-50p {width: 50%;}
.w-25p {width: 25%;}

.h-a {height: auto;}
.h-fit {height: 100%;}
.h-75p {height: 100%;}
.h-50p {height: 100%;}
.h-25p {height: 100%;}

.txtCenter, .txt-ctr {text-align: center;}
.txtLeft, .txt-l {text-align: left;}
.txtRight, .txt-r {text-align: right;}
.txtJustify, .txt-j {text-align: justify;}
.txt-u {text-decoration: underline;}
.txt-b {font-weight: bold;}
.txt-i {font-style: italic;}
.txt-link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.show {display: block;}
.hide {display: none;}

.w50, .w-50 {width: 50px;}
.w60, .w-60 {width: 60px;}
.w75, .w-75 {width: 75px;}
.w80, .w-80 {width: 80px;}
.w100, .w-100 {width: 100px;}
.w130, .w-30 {width: 130px;}
.w150, .w-150 {width: 150px;}
.w160, .w-160 {width: 160px;}
.w180, .w-180 {width: 180px;}
.w200, .w-200 {width: 200px;}
.w250, .w-250 {width: 250px;}
.w300, .w-300 {width: 300px;}
.w305, .w-305 {width: 305px;}
.w350, .w-350 {width: 350px;}
.w400, .w-400 {width: 400px;}
.w410, .w-410 {width: 410px;}
.w420, .w-420 {width: 420px;}
.w450, .w-450 {width: 400px;}
.w500, .w-500 {width: 500px;}

.h-50 {height: 50px;}
.h-75 {height: 75px;}
.h-100 {height: 100px;}
.h-150 {height: 150px;}
.h-200 {height: 200px;}
.h-250 {height: 250px;}
.h-300 {height: 300px;}
.h-350 {height: 350px;}
.h-400 {height: 400px;}
.h-450 {height: 450px;}
.h-500 {height: 500px;}


.b-rnd {
	border: 1px solid #dbdbde;
	border-radius: 5px;
}
.b-sq {
	border: 1px solid #dbdbde;
}

.b-shd {
	box-shadow: 0 0 5px #888;
}

.b-sel {
	border-color: #52A4D8;
}

img.img-m {
	vertical-align: middle;
}

.k-tooltip {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
    margin-top: 8px;
}

label > input {
	width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

/* JS: See login.css */
/* #content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	min-width: 1000px;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(64,64,64,1);
	background-image: url("../images/login/nisis_background.png");
	background-repeat: no-repeat;
	background-position: center;
	-o-background-size:100% 85%;
	-webkit-background-size:100% 85%;
	-moz-background-size:100% 85%;
	background-size:100% 85%;
	overflow: hidden;
} */

#messages {
	width: auto;
	max-width: 500px;
}
.k-notification-wrap {
	white-space: pre-wrap;
	width: auto;
	max-width: 500px !important;
}

/* JS: See Login.css */
/* #welcome {
	position: relative;
	text-align: left;
	width: 90%;
	min-width: 900px;
	max-width: 90%;
	height: 65%;
	max-height: 65%;
	margin: 7.5% auto;
	padding: 5px;
	border-radius: 15px;
	background-color: rgba(255,255,255,.50);
} */

.alpha60 {
/* Fallback for web browsers that doesn't support RGBa */
background: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background: rgba(0, 0, 0, 0.6);
}

#w-header {
	position: relative;
	color: #252525;
	width: 100%;
	height: auto;
	clear: both;
}

#nisis-h1 {
	font-size: 4.5em;
}

#nisis-h3 {
	font-size: 2em;
}

#w-warning span {
	color: black;
	font-size: 14px;
	position: relative;
	bottom: 15px;
}
#w-input,#w-buttons {
	position: relative;
	width: 100%;
	height: auto;
	margin: 10px auto;
	clear: both;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	/*min-width: 1000px;*/
	height: auto;
	padding: 5px;
	z-index: 999;
}

/* This is the menu separator */
#header #m-tfr, #header #m-features, #header #m-measure,  #header #m-alerts, #header #m-view-options{
	border-left: 1px rgba(0,0,0,0.3) solid;
	padding-left: 10px;
}

#title-box {
	width: auto;
	float: left;
	overflow: hidden;
	color: white;
	padding: 4px;
	cursor: pointer;
}
#title-box > div {
	float: left;
}
#title {
	font-weight: bold;
	position: relative;
	top: -15px;
	color: #404040;
}
.title-text {
	color: #333;
	font-size: 6px;
	margin-left: 5px;
}
#search-and-admin {
	display: none;
}

#user-controls{
	position: relative;
    height: auto;
    /* margin: 5px 15px 5px 5px; */
    padding: 5px;
    float: right;
}
#user-controls ul {
    font-size: 1.125em;
    padding: 0;
}
#user-controls ul li {
    text-align: left;
}
#user-controls ul li span.k-item {
    padding: 0;
    margin: 0;
}
#user-controls ul li span.k-link {
    padding: 3px 10px;
    margin: 0;
}

form#login {
	position: relative;
	top: 50px;
	margin: 50px auto;
	text-align:center;
}

#tabs {
	height: 100%;
	border: none;
}
#tabs ul {
	border: none;
	background: none;
}
table #table{
	width: 100%;
	height: 100%;
	border: black;
	border-width: thick;
}
#footer {
	font-size: 0.7em;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	margin: 0;
	padding: 0;
}
#footer span a {
    color: #fff;
    text-decoration: none;
    float: left;
}

#faa-image {
	max-width: 100px;
	max-height: 100px;
}

.marg a {
	text-decoration: none;
}

#footer-position {
	position: absolute;
	max-width: 1280px;
	max-height: 75px;
	min-width: 1280px;
	min-height: 75px;
}

.faa-image {
	background-image:url("../images/login/nisis_background.png");
	background-repeat: no-repeat;
	background-position: center;
	-o-background-size:100% 85%;
	-webkit-background-size:100% 85%;
	-moz-background-size:100% 85%;
	background-size:100% 85%;
}

#faa-text-logo {
	float: left;
	position: absolute;
}

.faa-bottom-position {
	float: left;
	position: absolute;
	left: 65%;
	bottom: 8%;
	max-width: 100%;
}

.faa-logo-size {
	height:30%;
	width: 30%;
}
#faa-text-logo p {
	float: left;
	position: absolute;
	left: 35%;
	bottom: -220%;
	font-size: 130px;
	color: rgba(64,64,64,1);
}

.box-padding {
	position: relative;
	left: 5px;
}

#welcome li {
	position: relative;
	right: 40px;
	color: blue;
	display: inline;
	list-style-type: none;
	padding-right: 10px;
	cursor: pointer;
}

a
{
    color: blue;
}

.tb-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tb-list li {
	margin: 5px 0 0 0;
}

.tb-list li label {
	display: inline-block;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#notamEditor {
	white-space:normal;
}

/* =============================
================================
FR23 
================================
================================
*/

/* Profile Spinner */
.profile-spin{
	text-align: center;
    padding: 15px;
    transition: .2s;
    background-color: #fff;
    border: none;
    border-radius: 0px 0px 4px 4px;
    transition-timing-function: ease-in;
    outline: none;
}

/* == Header == */

/* Last Update */
main > header .last-updated {
	font-size: 0.7em;
    /* vertical-align: bottom; */
    word-wrap: normal;
    text-overflow: ellipsis;
    font-family: sans-serif;
}

/* validation for form changes */
.nisisProfileDirtyForm{
	text-align: center;
	color: #DD2C00;
}

/* == Buttons == */

/* header btns */
.saveBtn,
.resetBtn,
.flyBtn{
    font-size: .8em !important;
    background-image: none !important;
    background-color: #EFEBE9 !important;
    margin-left: 6px !important;
    border-radius: 5px !important;
    color: #114b5f !important;
    margin-left: 0.5em;
    width: 88px;
    height: 30px;
    /*text-transform: uppercase;*/
    padding: 5px 10px;
    transition: .2s;
}

.saveBtn:hover,
.resetBtn:hover,
.flyBtn:hover{
    background-image: none !important;
    background-color: #E64A19 !important;
    color: #ffffff !important;
    cursor: pointer !important;
}

.saveBtn:focus,
.resetBtn:focus,
.flyBtn:focus{
    background-image: none !important;
    box-shadow: none!important;
}

.saveBtn i,
.resetBtn i,
.flyBtn i {
	margin-right: 4px;
}

.toggle-container i {
    display: block;
    font-size: 1.8em;
    color: white;
}

/*.paper-input~label button{*/
.paper-input~label button{
    font-size: 1.3em;
    line-height: 0.3em;
    cursor: pointer;
}

/*.paper-input~label button:first-child{*/
label button:first-child{
    margin-left: 1em;
}

/* color fixes */
.successful {
	color: #2E7D32 !important;
}

/* Textarea Edit Window */

#window {
    overflow: hidden;
    width: 281px;
    padding: 0;
    background-color: #fff;
    border-radius: 0;
}

#window .paper-input__wrapper{
    margin-top: 0;
}

.nisis_profile .k-window{
    height: 107px;
}

#window #editField{
    overflow-y: scroll;
    padding: 5px;
    width: 97%;
    height: 80px;
    min-height: 0;
    background-color: white;
}

#window button,
#window input{
    float: right;
}

#window button {
    border: 0;
    margin: 2px;
    color: #fff;
    background-color: #114b5f;
    border-radius: 2px;
    padding: 5px;
}

#window button:disabled{
	background-color: rgb(150, 149, 149);
}


/* Change password */
.files-wrap .check {
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.files-wrap .check input {
  display: none;
}

.files-wrap .check .boxCheck {
  width: 100%;
  height: 100%;
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  border: 2px solid transparent;
  background-color: #EFEBE9;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}
.files-wrap .check .boxCheck:after {
    width: 50%;
    height: 20%;
    content: '';
    position: absolute;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: #40c540;
    transform: rotate(-45deg) translate3d(0, 0, 0);
    transform-origin: center center;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    left: -4px;
    right: 0;
    top: 200%;
    bottom: 25%;
    margin: auto;
}
.files-wrap .check .boxText {
	position: absolute;
    top: 33px;
    right: 183px;
    color: #114b5f;
}
.files-wrap .check input:checked + .boxCheck {
  background-color: #b3ffb7;
  cursor: pointer;
}
.files-wrap .check input:checked + .boxCheck:after {
  top: 0;
}

.files-wrap .check input:disabled ~ .boxCheck {
  cursor: not-allowed !important;
}

.files-wrap .check input:disabled ~ .boxText {
  color: #CFD8DC !important;
}