#change-password-div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-radius: 0;
  position: initial;
  height: auto;
  /* margin: auto; */
  min-height: auto;
}

/* absolute center the container */
.change-password-wrapper {
	 top: calc(100% - 25%) !important;
   left: 50% !important;
   margin-top: -280px !important; /* Half the height */
   margin-left: -210px !important; /* Half the width */
   border: none !important;
   border-style: none !important;
   border-width: 0 !important;
   padding: 0 !important;
   height: auto !important;
   width: 420px !important;
}

/* overwrite kendo styles for title and window header */
.change-password-wrapper .k-window-titlebar{
	border-radius: 0;
	height: 22px;
}

.change-password-wrapper .k-header{
	background-image: none !important;
	background-color: #114B5F !important;
}

.change-password-wrapper .k-window-titlebar .k-window-title {
	color: #fff;
}

/* custom sub header header */
.change-pass-header {
	order: 1;
	background-color: #EEEEEE;
    color: #212121;
}

/* form */
.change-pass-form {
	order: 2;
	height: 100%;
}
.change-pass-form form {

}

.change-pass-form fieldset {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 20px 0 0 0;
  outline: 0;
  border: 0;
}
.change-pass-form .field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
  padding: 5px 10px;
}
.change-pass-form label, 
.change-pass-form input {
  transition: all 0.2s;
  touch-action: manipulation;
}

.change-pass-form input {
  font-size: 1.5em;
  border: 0;
  border-bottom: 1px solid #424242;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 4px 0;
  cursor: text;
}

.change-pass-form input:focus {
  outline: 0;
  border-bottom: 2px solid #114B5F;
}

.change-pass-form label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.change-pass-form input + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

.change-pass-form input::-webkit-input-placeholder {
  opacity: 1;
  transition: inherit;
  font-size: 14px;
  color: #BDBDBD;
}

.change-pass-form input + label,
.change-pass-form input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

/* footer */
.change-pass-footer {
	order: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.change-pass-footer button {
  background-image: none;
  outline: none;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 0 0 0 10px;
  cursor: pointer;
}

/* helpers */
.padd-me-10 {
	padding: 10px;
}
.primary {
  color: #fff;
  border: 1px #0c3240 solid;
  background-color: #114B5F;
}
.default {
  color: #fff;
  border: 1px #212121 solid;
  background-color: #424242;
}


/* Tooltip Styles */
.rules-tooltip{
	cursor: pointer;
}
.rules {
  display: none;
  position: absolute;
  top: 30px;
  left: 110px;
  width: 56%;
  background-color: rgba(0,0,0,1);
  color: #fff;
  z-index: 999999;
}

.rules:after {
  position: absolute;
top: -5px;
left: 37%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid rgba(0, 0, 0, 1);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  transform: rotate(180deg);
}

.rules ul {
	margin: 0;
	padding: 15px;
}

.rules li {
	list-style: none;
    font-size: 100%;
    line-height: 1.2;
    padding: 9px 0;
    border-bottom: 1px rgba(255,255,255,0.2) dotted;
}

/* validation */
.password-success {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 10px;
  background-color: #388E3C;
  color: #fff;
  font-size: 1.2em;
}
.password-success i {
  margin-right: 5px;
}
.password-error {
  display: none;
}