/*Grand Parent div*/
#features-div div{
    box-sizing: border-box !important;
}

.fm-window{
    /*position: absolute;*/
    background-color: #transparent !important;
    max-height: 100%;
    max-width: 100%;
    border: none !important;
    border-radius: 0 !important;
    padding-top: 38px !important;
    min-width: 90px !important;
    min-height: 50px !important;
    width: 360px !important;
    display: block;
    /*
        FB 5/2/2016 - it looks like this is set in app.php already
        and this prevents window from being draggable
    */
    /*top: 55px !important;
    left: 60px !important;*/
    z-index: 10003;
    opacity: 1;
    transform: scale(1);
}

#features-div {
    border-radius: 0;
    background: #ffffff;
    overflow-y: hidden;
}

/*Reset padding and margin for custom styling*/

#features-tabs,
#features-tabs-1,
#features-tabs-2,
#features-tabs-3,
#features-content,
#features-tabs,
#features-div {
    margin: 0;
    padding: 0;
    border: none;
}

/* Tabs */
#features-tabs {
    background-color: white !important;
}
#features-tabs>ul {
    padding: 0;
    background-color: #15627c;
    overflow hidden;

}
#features-tabs>ul>li {
    border: none;
    background-image: none;
}
#features-tabs>ul>li>span {
    color: white;
}
#features-tabs>ul>li.k-state-default {
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0 10px;
}
#features-tabs>ul>li.k-state-active {
    background-color: #edf4fd;
}

#features-tabs>ul>li.k-state-active span {
    color: #15627c !important;
}

#features-tabs span.k-loading {
    display: none;
}


.dropdown-toggle{
    width: 1.4em;
    color: rgb(81, 89, 103);
    text-decoration: none;
    position: relative;
}

.dropdown-menu{
    z-index: 1;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    transition: opacity 1s, top 0.25s;
    /*transition: opacity 1s;*/
}

.dropdown-toggle:hover:not(:disabled){
    cursor: pointer;
}

.dropdown-toggle:hover:not(:disabled) .dropdown-menu{
    opacity: 1;
    top: 1.1em;
    transition: opacity 0.2s, top 0.25s;
}



.dropdown-toggle,
.dropdown-menu,
.dropdown-menu *{
    text-decoration: none;
    color: rgb(81, 89, 103);
    z-index: 8;
}

.dropdown-menu ul{
    right: 0;
    padding-left: 0;
    background-color: #fff;
}

.dropdown-menu li{
    margin: 1em 0;
}

/* content wrapper */
#myFeaturesTree,
#groupFeaturesTree,
#shapes-manager-div {
    overflow: hidden;
}

#myFeaturesTree,
#groupFeaturesTree{
    position: absolute;
    width: 100%;
    height: auto;
    padding: 10px;
}

#shapes-manager-div {
    border-color: transparent !important;
}

/*
#myFeaturesTree > ul > li:first-child {
    padding: 10px 10px 10px 0 !important;
}
*/
#myFeaturesTree .k-top.k-bot:hover,
#groupFeaturesTree .k-top.k-bot:hover,
#shapes-manager-div .k-top.k-bot:hover{
    cursor: pointer;
}

#myFeaturesTree .k-top.k-bot [role="presentation"],
#groupFeaturesTree .k-top.k-bot [role="presentation"],
#shapes-manager-div .k-top.k-bot [role="presentation"]{
    display: none;
}

/* arrow icon */
#myFeaturesTree span.k-icon.k-plus,
#myFeaturesTree span.k-icon.k-minus,
#groupFeaturesTree span.k-icon.k-plus,
#groupFeaturesTree span.k-icon.k-minus {
    margin-bottom: 1px;
}

/* Checkbox wrapper */

/*#myFeaturesTree>ul>li>div>span.k-checkbox {
    margin: 0;
    padding: 0;
}*/

/* Folder text*/
#myFeaturesTree span.k-in,
#myFeaturesTree div:not(.k-top) span.k-in,
#groupFeaturesTree span.k-in,
#groupFeaturesTree div:not(.k-top) span.k-in {
    margin: 1px 0 1px .16666em;
    padding: 5px 8px;
    line-height: 1.3333em;
    text-decoration: none;
    border: none;
    border-radius: 0;
    background-image: none;
    box-shadow: none;
    color: #15627C;
}

/* hover */
#myFeaturesTree span.k-in:hover,
#myFeaturesTree div:not(.k-top) span.k-in:hover,
#groupFeaturesTree span.k-in:hover,
#groupFeaturesTree div:not(.k-top) span.k-in:hover{
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-image: none;
    background-color: rgb(17,75,95);
    color: #fff;
}

/* Folder text focus*/
/*#myFeaturesTree .k-in.k-state-focused,*/
#myFeaturesTree .k-in.k-state-selected,
#myFeaturesTree .k-in.k-state-selected.k-state-focused,
/*#myFeaturesTree div.k-top .k-in.k-state-focused,*/
#myFeaturesTree div.k-top .k-in.k-state-selected,
#myFeaturesTree div.k-top .k-in.k-state-selected.k-state-focused,
/*#groupFeaturesTree .k-in.k-state-focused,*/
#groupFeaturesTree .k-in.k-state-selected,
#groupFeaturesTree .k-in.k-state-selected.k-state-focused,
/*#groupFeaturesTree div.k-top .k-in.k-state-focused,*/
#groupFeaturesTree div.k-top .k-in.k-state-selected,
#groupFeaturesTree div.k-top .k-in.k-state-selected.k-state-focused{
    border: none;
    box-shadow: none;
    outline: none;
    background-color: rgb(28,108,136) !important;
    color: #fff !important;
}

/* focus fix */
/* FB 5/10/2016 */
#myFeaturesTree span.k-in.k-state-focused:not(.k-state-selected),
#myFeaturesTree div:not(.k-top) span.k-in.k-state-focused:not(.k-state-selected),
#groupFeaturesTree span.k-in.k-state-focused:not(.k-state-selected),
#groupFeaturesTree div:not(.k-top) span.k-in.k-state-focused:not(.k-state-selected){
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border: none;
    border-radius: 0;
    color: #15627C !important;
    background-image: none;
    background-color: transparent !important;
}



#myFeaturesTree span.k-checkbox,
#groupFeaturesTree span.k-checkbox {
    margin-top: 7px;
}

/*Tabs*/

.f-menu {
    display: block;
    /*FB 5/17/2016 -- menu needs more seperation from tab/labels*/
    padding: 10px;
    background-color: #edf4fd;
    font-size: 1.2em;
    color: #15627c;
}

.f-menu a{
    color: inherit;
}


.f-menu button{
    transform: scale(1.1); /* FB 05/03/2016 - may need vendor prefixes for older IE  */
    border: 0;
    padding: 0;
    background-color: transparent;
    color: #000;
}

.f-menu button:not(:disabled){
    cursor: pointer;
}

.f-menu button:disabled{
    color: #CCC;
}

.f-menu>ul {
    display: inline-flex;
    right: 0;
    padding: 0;
    margin: 0 7px 0 0;
    float: right;
}

.f-menu>ul>li {
    list-style: none;
    padding-left: 1.02em;
}

.f-menu>ul>li:last-child {
    padding-right: 0.4em;
}
.f-menu li {
    /*float: left;*/
    min-width: 15px;
    list-style: none;
}

.f-menu>ul>li>i {
    cursor: pointer;
}

/* Lists */
#myFeaturesTree ul.k-treeview-lines{
    overflow-y: auto;
    height: 396px;
}

#groupFeaturesTree ul.k-treeview-lines{
    overflow-y: auto;
    height: 360px;
}

#shapes-manager-div .k-grid-content{
    height: 300px;
}

/* Fixes */
span[class^="fa fa-caret-"]{
    width: 0.7em !important;
}

.k-callout-e,
.k-callout-w{
    border-right-color: transparent !important;
    border-left-color: transparent !important;
}

.k-top.k-bot .k-in:hover{
    cursor: pointer;
}


/* just the tooltip */
.toolytip{
   background-color: rgb(17,75,95);
   min-width: 250px !important;
   height: auto;
   outline: none;
   border: none;
   border-radius: 0;
   padding: 0;
   margin-left: 5px;
   margin-top: 2px;
   box-shadow: none;
}

.toolytip .k-tooltip-content{
    color: #ffffff;
    font-size: .8em;
    text-align: left;
    font-weight: 100;
}

.toolytip ul{
    padding: 0;
    margin: 0;
}

.toolytip li span{
    color: #87bbcc;
    font-size: .930em;
}

.toolytip li{
    list-style: none;
    padding: 8px;
    border-bottom: 1px #3f859d dotted;
}

.toolytip li:nth-last-child(1){
    border:none;
}

/* New Header styles */
.fm-hdr{
    position: initial !important;
    width: auto !important;
    border-radius: 0 !important;
    color: white !important;
    border: none !important;
    padding: 10px !important;
}

.k-window .k-header.fm-hdr,
.k-header.fm-hdr{
    background-color: #114b5f !important;
}

/* FM Header title*/
.fm-hdr .k-window-title{
    font-weight: 100;
    width: 50%;
}

.fm-actions{
    width: auto;
    right: 0;
    float: right;
    display: inline-block;
}

/* Hover for actions buttons*/
.fm-actions i:hover{
    background-color: #b3c9e5;
    background-image: none;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 0;
}

.fm-mini,
.fm-close{
    font-size: .7em;
    font-weight: 100;
}

.fm-mini{

}

.fm-close{
margin-left: 10px;
}


/* some fixes for group features */
.g-container{
    width: 84%;
    margin: 0 auto;
}

.g-container span.k-widget{
    width: 100%;
    margin-top: 10px;
}

.g-container span.k-dropdown,
.g-container span.k-dropdown-wrap,
.g-container span.k-state-default,
.g-container span.k-dropdown-wrap .k-input,
.g-container span.k-select{
    border-radius: 0 !important;
    border-color: #114b5f !important;
}

.g-container span.k-select{
    background-color: #114b5f;
}

.g-container span.k-icon{
    display: none;
}

.g-container span.k-select:before{
    font-family: FontAwesome;
    content: "\f078";
    color: #ffffff;
}

#noGrpItem{
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    font-style: italic;
    color: #999;
    padding: 10% 0;
}
