*{
	box-sizing: border-box;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span{
	margin: 0;
	padding: 0;
}

/* Override */
#content {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* useless pos*/
#welcome {
	display: none;
	/* position: relative;
	text-align: left;
	width: 90%;
	min-width: 900px;
	max-width: 90%;
	height: 65%;
	max-height: 65%;
	margin: 7.5% auto;
	padding: 5px;
	border-radius: 15px; */
} 

.nisis{
	background-image: url('../images/login/FAA_background.jpg');
}

.dotmap{
	background-image: url('../images/login/DOTMap_background.jpg');
}

.nisis,
.dotmap{
	background-repeat: no-repeat;
	background-size: cover;
}

/* MODAL - Overlay */
.lgn-ol{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 1;
}

.lgn-ol,
.lgn-mdl{
	display:none;
}

.lgn-mdl{
	position: absolute;
	z-index: 2;
	width: 90%;
	max-width: 320px;
	height: 500px;
	color: #fff;
	background: #114B5F;
    display: block;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.lgn-mdl-hdr{
	padding: 20px;
	background: #028090;
}

.lgn-mdl-bdy{
	position: relative;
	font-size: 92%;
	height: 73.333%;
	padding: 20px;
}

.lgn-mdl-ftr{
	position: absolute;
	width: 100%;
	background: #114B5F;
	bottom: 0;
	padding: 20px;
}

.lgn-mdl-btn{
	float: right;
	background: #F45B69;
	color: #fff;
	margin-left: 5px;
	padding: 10px;
	cursor: pointer;
}

/* Main Content*/
.flex-container {
    display: flex;
  	height: 100vh;
  	flex-direction: column;
}

.flex-body {
	display: flex;
	order: 1;
  	flex: 1;
  	flex-flow: row nowrap;
}
.flex-body .flex-item{
	flex: 1 100%;
	padding: 10px;
}
.flex-body .flex-item:nth-child(1) {
	order: 1;
	background-color: rgba(225,225,225,0.6);
    display: flex;
    flex-flow: column nowrap;
}

.flex-body .flex-item:nth-child(2) {
	order: 2;
    justify-content: center;
    display: flex;
}

.flex-body .flex-item:nth-child(1) h2 {
    padding: 10px;
    justify-content: center;
    display: flex;
    background-color: red;
    color: #fff;
    margin-bottom: 5px;
    font-size: 100%;
}

.warning-text{
	height: 533px;
    overflow-y: auto;
    padding: 5px;
}

.flex-container footer {
	order: 2;
	background-color: #114b5f;
	padding: 5px 10px;
	height: auto;
}

.flex-container footer img {
	max-width: 5%;
	height: auto;
}

.flex-container footer img ~ span {
	position: relative;
    bottom: 28px;
    left: 16px;
    color: #fff;
    font-size: 115%;
}

.flex-container .spacer{
	border-bottom: 1px dotted #a1a1a1;
    width: 91%;
    margin: 10px auto;
}

.form{
	display: flex;
    align-self: center;
    flex-flow: column;
    flex-basis: 50%;
    flex-shrink: 1;
    height: auto;
    background: #ffffff;
    
}

.form-shadow {
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

.form .form-header { 
	background-color: #114B5F;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
}

.form .form-header h1 {
	color: #fff;
    font-size: 210%;
    padding: 0;
    font-weight: 100;
}

.form .form-header h3 {
	color: #fff;
	font-size: 100%;
}

.form .field {
	display: flex;
	flex-flow: column-reverse;
	margin-bottom: 1em;
	padding: 5px 10px;
}

.form label, 
.form input {
	transition: all 0.2s;
	touch-action: manipulation;
}

.form input {
	font-size: 1.5em;
	border: 0;
	border-bottom: 1px solid #ccc;
	font-family: inherit;
	-webkit-appearance: none;
	border-radius: 0;
	padding: 4px 0;
	cursor: text;
}

.form input:focus {
	outline: 0;
	border-bottom: 1px solid #666;
}

.form label {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.form input + label {
	cursor: text;
	max-width: 66.66%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform-origin: left bottom;
	transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
  font-size: 14px;
}

.form input::-webkit-input-placeholder {
  opacity: 1;
}

.form input + label,
.form input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

/* buttons */
.button-field{
	display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 5px 10px;
}

.button-field .login-button {
	width: auto;
    height: auto;
    padding: 5px;
    background: #F45B69;
	color: #fff;
	border: 0;
    margin-left: 5px;
    cursor: pointer;
   }

.login-footer {
	display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 20px 0;
}

.login-footer a {
	margin-left: 5px;
	cursor: pointer;
}

/* kendo overrides */
.reset-modal {
	border-radius: 0;
	border: none !important;
}
.reset-modal .k-header {
	background-color: #114B5F;
	background-image: none;
	border: none;
}

.reset-modal .k-window-titlebar{
	border-radius: 0;
}

.reset-modal .k-window-title {
	color: #fff;
}