#map {
	position: relative;
	top: 0px
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}
#layersToolbar {
	float: right;
	position: relative;
	margin-top: 10px;
	margin-right: 10px;
	padding: 5px;
	z-index: 999;
}
#addToolbar {
	padding: 5px;
}
#layers-div {
	display: none;
	position: absolute;
	top: 70px;
	right: 10px;
	width: 470px;
	height: auto;
	padding: 0;
	z-index: 999;
}
#overlays-toggle{
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
#overlays-toggle li {
	margin: 0 3px 3px 3px;
	padding: 3px;
	width: 400px;
}
#maplegend-div {
	display: none;
	position: absolute;
	top: 100px;
	left: 10px;
	width: 300px;
	min-height: 300px;
	height: auto;
	z-index: 999;
}
