::-webkit-scrollbar{
 /*display: none;*/
}

.esriPopup.infoWindowHidden .paper-input__wrapper {
    display:none;
}

.esriPopup .titlePane {
    line-height: 20px;
    padding-left: 6px;
    border-radius: 0;
    -webkit-border-radius: 0;
    cursor: default;
	padding: 10px;
    color: #fff !important;
    border: none !important;
    background-color: #114b5f !important;
}

.esriPopup .titleButton.prev {
    right: 90px;
    background-position: -29px 0;
    width: 9px;
    height: 17px;
    top: 11px;
}

.esriPopup .titleButton.next {
    right: 66px;
    background-position: -16px 0;
    width: 9px;
    height: 17px;
    top: 11px;
}

.esriPopup .titleButton.maximize {
    right: 32px;
    background-position: -55px 0;
    width: 11px;
    height: 11px;
    top: 14px;
}

.esriPopup .titleButton.close {
    right: 3px;
    background-position: 0 0;
    width: 12px;
    height: 17px;
    top: 11px;
}

/* Action bar */
.esriPopup .info-action-bar {
    display: inline-flex;
    width: 100%;
    padding: 10px;
    border-bottom: 1px #bacacf solid;
    justify-content: flex-end;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    left: 0;
}

.esriPopup .info-action-bar i {
	margin: 6px 13px 0 0px;
    font-size: 1.2em;
    cursor: pointer;
}

/* Summary form section */
#summary-form{
    padding: 0 10px;
    width: 100%;
    max-height: 300px;
    margin: 0 auto;
    overflow-y: scroll;
}

/* hacky way to push down first input in window so action bar doesn't hide it*/
#summary-form div:nth-child(3) {
    margin-top: 63px;
}

.esriPopup .dotProfileDirtyForm{
    visibility: hidden;
    position: absolute;
    z-index: 99999;
    padding: 14px 0 0 0;
    margin-left: 0px !important;
    text-align: center;
    color: #d32f2f;
    font-size: 1em;
}

.esriPopup .dotProfileDirtyForm.show{
    visibility: visible;
}


.esriPopup .contentPane {
    height: auto;
    max-height: 90%;
    overflow: hidden;
    position: relative;
    padding: 0px;
    background-color: #ffffff;
    color: #114b5f;
}

.esriPopup .actionsPane {
	display: none;
    padding: 10px;
    background-color: #F7F7F7;
    border-radius: 0;
    -webkit-border-radius: 0;
    position: relative;
}

.esriPopup .actionsPane {
	display: none;
}

.esriPopup .pointer, .esriPopup .outerPointer {
    background: #ffffff;
    display: none;
    height: 16px;
    position: absolute;
    width: 16px;
    z-index: 0;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    box-shadow: 0 0 0.75em #777777;
    -webkit-box-shadow: 0 0 0.75em #777777;
}

/* Save button */
.esriPopup .save-btn, .esriPopup .delete-btn{
    display: inline-block;
    height: auto;
    padding: 5px 7px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: #EFEBE9 !important;
    border-radius: 5px !important;
    color: #114b5f !important;
    vertical-align: middle;
    transition: all .2s;
}

.esriPopup .save-btn i, .esriPopup .delete-btn i{
	padding: 0;
	margin: 0;
}

 .esriPopup .delete-btn {
    margin-right: 10px;
 }
.esriPopup .save-btn:before{
	font-family: 'FontAwesome';
	content: '\f0c7';
	font-size: 1.1em;
	margin-left: 4px;
	font-weight: 100;
    padding-right: 4px;
}

.esriPopup .delete-btn:before{
    font-family: 'FontAwesome';
    content: '\f014';
    font-size: 1.1em;
    margin-left: 4px;
    font-weight: 100;
    padding-right: 4px;
}

.esriPopup .save-btn:after{
	font-family: sans-serif;
	content: 'Save';
	font-size: 1.1em;
    text-transform: none;
    font-weight: 800;
}

.esriPopup .delete-btn:after{
    font-family: sans-serif;
    content: 'Delete';
    font-size: 1.1em;   
    text-transform: none;
    font-weight: 800; 
}

.esriPopup .save-btn:hover, 
.esriPopup .delete-btn:hover{
    background-color: #e53935 !important;
    color: #fff !important;
}

/* Footer */
.esriPopup .shapeMeasureWrapper{
	width: 100%;
    background-color: #2b6072;
    color: #fff;
    height: 100%;
    user-select: all !important;
}

.esriPopup .shapeMeasureWrapper .shapeMeasure{
	padding: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.esriPopup .shapeMeasureWrapper .shapeMeasure p{
    padding: 0;
    margin: 0;
    line-height: 2;
    flex-basis: 50%;
}

.esriPopup .pointer.bottom{
    background: #2b6072;
}

.esriPopup .pointer.top{
    background: #114b5f;
}

.paper-input__wrapper {
    position: relative;
    width: 100%;
    margin: 1.2rem auto;
}
.paper-input {
    display: block;
    width: 100%;
    margin: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #666;
    font-size: .9rem;
    padding: 0.5rem 0;
}
.paper-input{
    margin-top: 63px;
}
.paper-input[disabled] {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.12);
    background-color: transparent;
}
.paper-input:focus, .paper-input.has-focus {
    outline: none;
}
.paper-input:focus~ label::after, .paper-input.has-focus~ label::after {
    visibility: visible;
    width: 100%;
    left: 0;
}
.paper-input~ label {
    font-size: 1rem;
    width: 100%;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0.625rem;
    bottom: 0;
    color: #A2A0A0;
}
.paper-input~ label::after {
    content: '';
    background-color: #114b5f;
    height: 2px;
    width: 0.625rem;
    bottom: 0;
    left: 45%;
    visibility: hidden;
    position: absolute;
    transition: 0.2s ease all;
}
.paper-input--touched~ label {
    visibility: hidden;
}
.paper-input--floating~ label {
    transition: 0.2s ease all;
}
.paper-input--floating:focus~ label, .paper-input--floating.paper-input--touched~ label {
    visibility: visible;
    top: -0.625rem;
    font-size: 0.75rem;
    color: #637880;
}
.paper-input__error {
    float: left;
    margin-top: 3px;
    color: #d34336;
    font-size: 0.75rem;
    visibility: hidden;
}
.paper-input--floating.paper-input--dirty:invalid~ label {
    top: -0.625rem;
    font-size: 0.75rem;
    color: #d34336;
}
.paper-input--dirty:invalid~ label:after {
    background-color: #d34336;
}
.paper-input--dirty:invalid~ .paper-input__error {
    visibility: visible;
}
.paper-input--dirty:invalid {
    box-shadow: none;
    border-color: #d34336;
}

.paper-input{
    border-bottom-style: dashed;
}

.paper-input--touched{
    border-bottom-style: solid;
}

.paper-input:not(.paper-input--touched)~ label{
    font-style: italic;
}


.paper-input[disabled] {
    border: none;
}

.paper-input[disabled]~label::after {
    position: static;
    margin-left: 0.5em;
    visibility: visible;
    font-family: "FontAwesome";
    content: "\f023";
    background-color: transparent;
    color: #888;
}

.paper-input__wrapper span.k-widget.k-tooltip{
    position: absolute;
    background-color: rgb(255,255,255) !important;
    border: 1px solid rgb(215,38,38) !important;
    color: rgb(215,38,38);
    box-shadow: none;
    font-size: .9em;
    /* left: 0px; */
    left: 1px;
    display: flex;
    top: 25px;
    box-sizing: border-box;
    text-align: end;
}
.paper-input__wrapper span.k-widget.k-tooltip:before{
    font-family: FontAwesome;
    content: '\f06a';
    font-size: 1.3em;
    height: 16px;
    color: rgb(215,38,38);
    margin: 7px 5px 0 4px;
}

.paper-input__wrapper span.k-tooltip-validation .k-warning{
    display: none;
}

.uneditable-fields {
    user-select: all !important;
    display: block;
    width: 100%;
    margin: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #666;
    padding: 0.5rem 0;
    color: #637880;
}
