#content form#register{
	width: 400px;
	margin:0 auto;
	padding: 30px;
	background: #999;
	border: black;
	border-width:thin;
	border-radius:20px;
}
#usercontrols{
	display: none;
}

/* Registration Form */
#backToLogin, #reset{
	float:left;
}
#submit{
	float:right;
}
input[type='text'], input[type='email'], input[type='password'] {
	width: 100%;
	height: 20px;
	margin: 5px auto;
}
input[type='submit'], input[type='reset'] {
	font-weight: bold;
	width: 100px;
	height: 30px;
}
