/* Shape Styles*/
@font-face { 
	font-family: 'Natural Events'; 
	src: url('webfont/ersV2txt/ERS_v2_Natural_Events_txt.ttf') format('truetype'); 
}
.ers-nat-font {
	font-family: "Natural Events", Verdana, Tahoma;
	font-size: 50px;
	color: black;
}
@font-face { 
	font-family: 'Incidents'; 
	src: url('webfont/ersV2txt/ERS_v2_Incidents_txt.ttf') format('truetype'); 
}
.ers-inc-font {
	font-family: "Incidents", Verdana, Tahoma;
	font-size: 50px;
	color: black;
}

.nisis-item {
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0 0 5px 5px;
	float: left;
	cursor: pointer;
	border: 1px solid rgba(243,243,244,0);
}
.nisis-item:hover {
	border: 1px solid #999;
	background-color: rgb(243,243,244);
}
.nisis-item-active {
	border: 1px solid #999;
	background-color: rgb(243,243,244);
}
.item-symbol {
	position: relative;
	display: inline-table;
	text-align: center;
	vertical-align: middle;
	width: auto;
	height: auto;
	margin: 0;
	padding: 5px;
}
.nat-A:before {
	font-family: 'Incidents';
	content: "A";
}

path[data-classbreak="square"] {
    stroke: rgb(0, 0, 0);
    stroke-width: 2px;
    fill: rgb(255, 255, 255);
}